<div class="govuk-button-group">
    @if (Model.Step != Model.TotalSteps)
    {
        <button type="submit" name="action" value="Next" class="govuk-button" data_module="govuk-button">Next</button>
    }
    else
    {
        <button type="submit" name="action" value="Save" class="govuk-button" data_module="govuk-button">Save</button>
    }
</div>
