@using BPOR.Rms.Views.ViewComponents
@model BPOR.Rms.Models.Study.StudyDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("Breadcrumbs", new List<BreadcrumbItem>
{
    new("All Studies", "/Study/Index"),
    new("Study", "/Study/Index")
})
@await Html.PartialAsync("Partials/Details/_StudyDetailsHeader", Model)
<div style="display:flex;gap: 40px; flex-direction: column; width: 100%">

    @await Html.PartialAsync("Partials/_NotificationBanner", Model.Notification)
    @await Html.PartialAsync("Partials/Details/_StudyStatistics", Model)
    @await Html.PartialAsync("Partials/Details/_EmailTable", Model)
    @await Html.PartialAsync("Partials/Details/_VolunteerTable", Model)
    @await Html.PartialAsync("Partials/Details/_StudyDetails", Model)
</div>
