@using BPOR.Domain.Entities
@using BPOR.Rms.Startup
@model BPOR.Rms.Models.Study.StudyDetailsViewModel
@inject ICurrentUserProvider<User> UserProvider;

@{
    ViewData["Title"] = "Study details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData.AddBreadcrumbs(new Dictionary<string, string> {
                ["All studies"] = "/Study/Index",
                ["Study"] = "/Study/Index",
               }
    );
}
<partial name="Partials/Details/_StudyDetailsHeader" />

<div style="display:flex;gap: 40px; flex-direction: column; width: 100%">
    <partial name="Partials/Details/_StudyStatistics" />
    
    <accordion>
        @if (UserProvider.IsAdmin())
        {
            <accordion-section caption="Researcher emails">
                <partial name="Partials/Details/_ResearcherEmailsTable" model="Model.ResearcherEmails"/>
            </accordion-section>
        }
        <accordion-section caption="Campaigns sent">
            <partial name="Partials/_CampaignTable" model="Model.Campaigns"/>
        </accordion-section>
    </accordion>
    
    <partial name="Partials/Details/_VolunteerTable" />
    
    <partial name="Partials/Details/_StudyDetails" />
</div>
