@model BPOR.Rms.Models.Study.StudyDetailsViewModel

@{
    ViewData["Title"] = "Study details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData.AddBreadcrumbs(new Dictionary<string, string> {
                ["All studies"] = "/Study/Index",
                ["Study"] = "/Study/Index",
               }
    );
}
<partial name="Partials/Details/_StudyDetailsHeader" />
<div style="display:flex;gap: 40px; flex-direction: column; width: 100%">
    
    <partial name="Partials/Details/_StudyStatistics" />
    <partial name="Partials/Details/_CampaignTable" />
    <partial name="Partials/Details/_VolunteerTable" />
    <partial name="Partials/Details/_StudyDetails" />
</div>
