@using BPOR.Rms.Views.ViewComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BPOR.Rms.Models.Study.StudyFormViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("Breadcrumbs", new List<BreadcrumbItem>
    {
        new("All Studies", "/Study/Index"),
        new("Study Page", $"/Study/Details/{Model.Id}"),
        new("Edit Study", "/Study/Edit")
    })
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <h1 class="govuk-heading-xl">Edit study details</h1>
        @await Html.PartialAsync("../Shared/_ErrorSummary", Model)
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="Step" value="@Model.Step"/>

            <div style="@(Model.Step == 1 ? "" : "display:none;")">
                @await Html.PartialAsync("Partials/Shared/_Step1FormFields", Model)
            </div>

            <div style="@(Model.Step == 2 ? "" : "display:none;")">
                @await Html.PartialAsync("Partials/Shared/_Step2FormFields", Model)
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data_module="govuk-button">Update</button>
                @Html.ActionLink("Cancel", "Details", "Study", new { id = Model.Id }, new { data_module = "govuk-button" })
            </div>
        </form>
    </div>
</div>
