@model BPOR.Rms.Models.Study.StudiesViewModel


@{
    ViewData["Title"] = "All studies";

    if (Model.HasSearched)
    {
        var studies = Model.Studies.TotalCount == 1 ? "study" : "studies";

        ViewData["Title"] = $"{ViewData["Title"] as string} - {Model.Studies.TotalCount:n0} {studies} found";
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-grid-row">
    <partial name="Partials/Index/_StudyListHeader" />
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial name="Partials/Index/_StudySearchForm" />
        <partial name="Partials/Index/_StudyList" />
    </div>
</div>
