@model BPOR.Rms.Models.Study.StudiesViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-grid-row">
    @await Html.PartialAsync("Partials/Index/_StudyListHeader", Model)
    
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @await Html.PartialAsync("Partials/Index/_StudySearchForm", Model)
        @await Html.PartialAsync("Partials/Index/_StudyList", Model)
    </div>
</div>
