<h2 class="govuk-heading-l">Location</h2>

<div class="govuk-form-group">
    <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="txtPostcodeDistricts">
            Postcode districts
        </label>
    </h3>
    <div id="event-name-hint" class="govuk-hint">
        Enter one or more postcode districts separated by commas.
        For example: SW1A, WC2B, EC1V.
    </div>
    <input class="govuk-input" id="txtPostcodeDistricts" name="txtPostcodeDistricts" type="text">
</div>

<h3 class="govuk-heading-m">OR</h3>

<div class="govuk-form-group">
    <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="txtFullPostcode">
            Full postcode
        </label>
    </h3>
    <div id="event-name-hint" class="govuk-hint">
        For example: EC1A 1BB.
    </div>
    <input class="govuk-input govuk-input--width-10" id="txtFullPostcode" name="txtFullPostcode" type="text">
</div>

<div class="govuk-form-group">
    <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="txtMiles">
            Radius
        </label>
    </h3>
    <div id="event-name-hint" class="govuk-hint">
        Indicate the radius for searching volunteers based on the provided full postcode.
    </div>
    <div class="govuk-input__wrapper">
        <input class="govuk-input govuk-input--width-5" id="txtMiles" type="text" spellcheck="false">
        <div class="govuk-input__suffix" aria-hidden="true">Miles</div>
    </div>
</div>

