@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel

@if (Model.ShowStudyFilters())
{
    <div class="govuk-form-group">
        @Html.HiddenFor(m => m.SelectedStudy)

        <h2 class="govuk-heading-l" aria-label="Selected study name">@Model.SelectedStudy</h2>
    </div>
}
