@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel

<div class="govuk-form-group">
    @Html.LabelFor(m => Model.SelectedStudy, new { @class = "govuk-label govuk-label--l" })

    @Html.DropDownListFor(m => m.SelectedStudy, Model.Studies, "Select a study", new { @class = "govuk-select" })
</div>
