@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel

@if (Model.ShowStudyFilters)
{
    <div class="govuk-form-group">
        @Html.LabelFor(m => m.SelectedStudy, new { @class = "govuk-label govuk-label--l" })
        @Html.HiddenFor(m => m.SelectedStudy)
        <label class="govuk-studylabel" aria-label="Selected study">@Model.SelectedStudy</label>
    </div>
}
