@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-label="Select which options to filter volunteers by">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            @if (Model.HasStudy())
            {
                <include-exclude-dropdown for="SelectedVolunteersContacted" />
                <include-exclude-dropdown for="SelectedVolunteersRegisteredInterest" />
                @if (Model.ShowRecruitedFilter)
                {
                    <include-exclude-dropdown for="SelectedVolunteersRecruited" />
                }
                else
                {
                    <div class="govuk-input_select__wrapper">
                        <div class="govuk-label exclusion_label" for="SelectedVolunteersContacted">Volunteers recruited</div>
                        <div class="govuk-hint govuk-!-margin-top-4" style="margin-bottom: 12px;">
                            Study uses anonymous recruitment
                        </div>
                    </div>            
                }
            }

            <include-exclude-dropdown for="SelectedVolunteersCompletedRegistration" />
        </legend>
    </fieldset>
</div>
