@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-label="Select which options to filter volunteers by">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

            @if (Model.ShowStudyFilters)
            {
                <include-exclude-dropdown for="SelectedVolunteersContacted" />
                <include-exclude-dropdown for="SelectedVolunteersRegisteredInterest" />
                @if (Model.ShowRecruitedFilter)
                {
                    <include-exclude-dropdown for="SelectedVolunteersRecruited" />
                }           
            }       

            <include-exclude-dropdown for="SelectedVolunteersCompletedRegistration" />
  
        </legend>      
    </fieldset>
</div>
