@model BPOR.Rms.Models.Study.StudyDetailsViewModel

<div>
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Introductory Email</h2>
    
    @if (!Model.Study.IsEligibilityCriteriaComplete)
    {
        <p>Please complete the eligibility criteria before sending an introductory email.</p>
    }
    else if (Model.Study.IsEligibleForPrescreener)
    {
        <p>This study is eligible for a pre-screener</p>
    }
    else
    {
        <p>This study is not eligible for a pre-screener</p>
    }

    <a id="applyForStudyBtn" class="govuk-button govuk-button" data_module="govuk-button"
       asp-action="SendIntroductoryEmail" asp-route-id="@Model.Study.Id"
       disabled="@(!Model.Study.IsEligibilityCriteriaComplete)">
        Send Introduction Email
    </a>
</div>