@using BPOR.Domain.Entities
@using BPOR.Domain.Enums
@using BPOR.Rms.Startup
@model IEnumerable<BPOR.Rms.Models.Study.ResearcherEmail>

@inject ICurrentUserProvider<User> CurrentUserProvider

@if (CurrentUserProvider.IsAdmin())
{
    <table class="govuk-table" style="width: 100%;">

    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header ">Date/time sent</th>
            <th scope="col" class="govuk-table__header ">Template</th>
            <th scope="col" class="govuk-table__header ">Recipient</th>
            <th scope="col" class="govuk-table__header ">Status</th>
            <th scope="col" class="govuk-table__header ">Action</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @foreach (var email in Model)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    @email.SentAt.ToString("dd/MM/yyyy, HH:mm")
                </td>
                <td class="govuk-table__cell">@email.EmailTemplate</td>
                <td class="govuk-table__cell">@email.ResearcherEmailAddress</td>
                
                <td class="govuk-table__cell">
                    @{
                        switch ((DeliveryStatus)email.DeliveryStatusId)
                        {
                            case DeliveryStatus.Pending:
                                <strong class="govuk-tag govuk-tag--grey">
                                    Pending
                                </strong>
                                break;

                            case DeliveryStatus.Sent:
                                <strong class="govuk-tag govuk-tag--orange">
                                    Sent
                                </strong>
                                break;

                            case DeliveryStatus.Failed:
                                <strong class="govuk-tag govuk-tag--red">
                                    Failed
                                </strong>
                                break;

                            case DeliveryStatus.Delivered:
                                <strong class="govuk-tag govuk-tag--green">
                                    Delivered
                                </strong>
                                break;
                        }
                    }
                </td>
                <td class="govuk-table__cell">
                    <a class="govuk-link"
                       asp-action="Resend"
                       asp-route-id="">
                        Resend
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
}