@using BPOR.Domain.Entities
@using BPOR.Rms.Startup
@model BPOR.Rms.Models.Study.StudyDetailsViewModel

@inject ICurrentUserProvider<User> CurrentUserProvider

<div class="govuk-grid-row">
    <partial name="Partials/Details/_PreScreenerEligibility" model="Model.PreScreenerViewModel" />
    
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">
            @Html.DisplayFor(model => model.Study.StudyName)
        </h1>
    </div>
    
</div>

<partial name="Partials/Details/_StudyDetailsActionMenu" />
