@model BPOR.Rms.Models.Study.StudyDetailsViewModel

<div>
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Study details</h2>
    <dl class="govuk-summary-list">
        <summary-list-item for="Study.Id" />
        <summary-list-item for="IsRecruitingIdentifiableParticipantsDisplay" />
        <summary-list-item for="Study.StudyName" />
        <summary-list-item for="Study.CpmsId" />
        <summary-list-item for="Study.FullName" />
        <summary-list-item for="Study.EmailAddress" />

        <summary-list-item for="Study.ChiefInvestigator" />
        <summary-list-item for="Study.StudySponsors" />
        <summary-list-item for="Study.PortfolioSubmissionStatus" />
        <summary-list-item for="Study.OutcomeOfSubmission" show-when="@(Model.Study.PortfolioSubmissionStatus == "Yes")" />
        <summary-list-item for="Study.HasFundingDisplay" />
        <summary-list-item for="Study.FundingCode" show-when="@Model.Study.HasFunding==true" />
        <summary-list-item for="Study.UKRecruitmentTarget" />
        <summary-list-item for="Study.TargetPopulation" />
        <summary-list-item for="Study.RecruitmentStartDate" />
        <summary-list-item for="Study.RecruitmentEndDate" />
    </dl>
</div>
