@model BPOR.Rms.Models.Study.StudyDetailsViewModel
<style>
.stat-card {
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 4px rgba(11, 12, 12, 0.25);
  border-radius: 10px;
  border: 1px solid #ACBCC3;
  display: flex;
  flex-direction: column;
  align-items: center;
}



  .stat-card-number {
    color: #193E72;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    word-wrap: break-word;
  }

  .stat-card-text {
    color: #505A5F;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
    text-align: center;
  }
  
  @@media (max-width: 640px) {
  .card-wrapper{
    margin-bottom: 20px;
    }
  }
 
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="card-wrapper">
            <div class="stat-card">
                <div class="stat-card-text">Total contacted</div>
                <div class="stat-card-number">@Model.TotalNotificationsSent</div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="card-wrapper">
            <div class="stat-card">
                <div class="stat-card-text">Total interested</div>
                <div class="stat-card-number">@Model.TotalRegisteredInterest</div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="card-wrapper">
            <div class="stat-card">
                <div class="stat-card-text">Recruited</div>
                <div class="stat-card-number">
                    @if (Model.Study.IsRecruitingIdentifiableParticipants)
                    {
                        @Model.TotalRecruited
                    }
                    else
                    {
                        @Model.LatestRecruitmentTotal
                    }
                </div>
            </div>
        </div>
    </div>
</div>

