@using BPOR.Domain.Entities
@using BPOR.Rms.Startup
@using UserRole = BPOR.Domain.Enums.UserRole
@model BPOR.Rms.Models.Study.StudyDetailsViewModel
@inject ICurrentUserProvider<User> CurrentUserProvider

@{
    var isIdentifiable = Model.Study.IsRecruitingIdentifiableParticipants;
    var isAdmin = CurrentUserProvider.User.HasRole(UserRole.Admin);
    var isResearcher = CurrentUserProvider.User.HasRole(UserRole.Researcher);
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Volunteers</h2>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-0">
            Recruited (
            @if (Model.Study.IsRecruitingIdentifiableParticipants)
            {
                @Model.TotalRecruited
            }
            else
            {
                @Model.LatestRecruitmentTotal
            }
            )
        </h3>
    </div>

    <div class="govuk-grid-column-full"> <partial name="Partials/_RecruitedTable" for="EnrollmentDetails" /></div>
</div>
