@{
    ViewData["Title"] = "What is your email address?";
}

<a href="~/" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <form method="post">
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="email">
                        What is your email address?
                    </label>
                </h1>
                <div id="email-hint" class="govuk-hint">
                    We will send you a confirmation email to set up your account. Once your account is created, you will need to use your email address to sign in.
                </div>
                <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button" asp-action="CheckYourEmail">
                Continue
            </button>
        </form>
    </div>
</div>