@model NIHR.GovUk.AspNetCore.Mvc.Models.GovUkDetailsModel

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      @Model.Caption
    </span>
  </summary>
  <div class="govuk-details__text">
    @Model.InnerContent
    </div>
</details>