@model BPOR.Rms.Models.Study.AddStudySuccessViewModel

@{
    ViewData["Title"] = "Study Submitted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half-from-desktop">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Application complete
            </h1>
            <div class="govuk-panel__body">
                Thank you for your application to use the Be Part of Research volunteer registry for @Html.DisplayFor(model => model.StudyName)
            </div>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
            The Be Part of Registry team will contact you by email within 5 working days to confirm whether the study is eligible to use the registry.
        </p>
    </div>
</div>

<div class="govuk-button-group">
    @Html.ActionLink("View study", "Details", "Study", new { id = Model.Id }, new { @class = "govuk-button", data_module = "govuk-button" })
    @Html.ActionLink("All studies", "Index", "Study", null, new { @class = "govuk-button govuk-button--secondary", data_module = "govuk-button" })
</div>
