<div class="govuk-button-group">
    @if (Model.Step == 1)
    {
        <button type="submit" name="action" value="Next" class="govuk-button" data_module="govuk-button">Next</button>
    }
    else if (Model.Step == 2)
    {
        <button type="submit" name="action" value="Save" class="govuk-button" data_module="govuk-button">Save</button>
    }
</div>
