@model BPOR.Rms.Models.Researcher.ResearcherStudyFormViewModel

<h1 class="govuk-heading-xl">
    NIHR Clinical Research Network (CRN) portfolio status
</h1>

@await Html.PartialAsync("Partials/_ErrorSummary", Model)

<div class="govuk-form-group @(Html.ViewData.ModelState["PortfolioSubmissionStatus"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
    <label asp-for="PortfolioSubmissionStatus" class="govuk-label" for="PortfolioSubmissionStatus">
        @Html.DisplayNameFor(model => model.PortfolioSubmissionStatus)
    </label>

    <div class="govuk-radios" data-module="govuk-radios">
        @if (Model.PortfolioSubmissionStatusOptions != null)
        {
            foreach (var option in Model.PortfolioSubmissionStatusOptions)
            {
                <div class="govuk-radios__item">
                    @Html.RadioButtonFor(m => m.PortfolioSubmissionStatus, option.Id, new { @class = "govuk-radios__input" })
                    @Html.Label(option.Description, option.Description, new { @class = "govuk-label govuk-radios__label" })
                </div>
            }
        }
    </div>
</div>


