@using BPOR.Rms.Views.ViewComponents
@model BPOR.Rms.Models.Volunteer.UpdateRecruitedViewModel

@{
    ViewData.AddBreadcrumbs(new Dictionary<string, string>
            {
                ["All Studies"] = "/Study/Index",
                ["Study"] = $"/Study/Details/{Model.StudyId}",
                ["Update newly recruited volunteers"] = "/Study/Edit",
            });
}

<div style="display: flex;flex-direction: column;gap: 50px;width: 100% ;">

    <div>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">Update recruited volunteers</h1>
        <h4 class="text-secondary govuk-!-margin-0">
            @Html.DisplayFor(model => model.StudyName)
        </h4>
    </div>

    @await Html.PartialAsync("Partials/_NotificationBanner")
    @await Html.PartialAsync("Partials/_ErrorSummary", Model)

    <form asp-action="SubmitVolunteerNumbers" asp-controller="Volunteer" method="post">
        <input asp-for="StudyId" type="hidden" />
        <input asp-for="StudyName" type="hidden" />
        <label asp-for="VolunteerReferenceNumbers" class="govuk-label" for="VolunteerReferenceNumbers">
            @Html.DisplayNameFor(model => model.VolunteerReferenceNumbers)
        </label>

        <div id="VolunteerReferenceNumbers-hint" class="govuk-hint">
            Each volunteer will have been given a unique volunteer reference when they were contacted by Be Part of Research.<br><br>
            Please enter your list of these numbers into the text area below. Each number should be on its own line.<br><br>
            For example,
            <br>9703876601877339
            <br>2011084776476613
            <br>9670389703597499
            <br>6113453237761467
        </div>

        <div class="govuk-form-group @(Html.ViewData.ModelState["VolunteerReferenceNumbers"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
            <div class="govuk-grid-column-one-quarter-from-desktop-no-padding">
                @if (Html.ViewData.ModelState["VolunteerReferenceNumbers"]?.Errors.Count > 0)
                {
                    <span id="VolunteerReferenceNumbers-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        @Html.ValidationMessageFor(model => model.VolunteerReferenceNumbers)
                    </span>
                    <textarea asp-for="VolunteerReferenceNumbers" class="govuk-textarea govuk-textarea--error" aria-describedby="VolunteerReferenceNumbers-error"></textarea>
                }
                else
                {
                    <textarea asp-for="VolunteerReferenceNumbers" class="govuk-textarea"></textarea>
                }
            </div>
        </div>

        <button type="submit" class="govuk-button">Submit volunteer numbers</button>
    </form>
</div>
