@model IEnumerable<BPOR.Rms.Views.ViewComponents.BreadcrumbItem>

<style>
    .breadcrumb-link {
        color:  #1D70B8;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Lato,serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        text-decoration-line: underline;
    }

    .breadcrumb-current {
        color: #505A5F;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Lato,serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
    }
    
    .breadcrumb-container {
    float: left;
    width: 100%;
    
    }
</style>

<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile breadcrumb-container" style="text-align: left;">
    <ol class="govuk-breadcrumbs__list">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var item = Model.ElementAt(i);
            if (i < Model.Count() - 1)
            {
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link breadcrumb-link" href="@item.Url">@item.Text</a>
                </li>
            }
            else
            {
                <li class="govuk-breadcrumbs__list-item">
                    <span class="govuk-breadcrumbs__link breadcrumb-current">@item.Text</span>
                </li>
            }
        }
    </ol>
</div>
