@using BPOR.Rms.Startup
@using BPOR.Domain.Entities
@using Microsoft.Extensions.Options
@model BPOR.Rms.Models.Email.SetupCampaignViewModel
@inject IOptions<RmsSettings> rmsOptions

<div class="govuk-inset-text">
    <strong>Please note:</strong> GOV UK Notify has an email allowance of 250,000 per day. This includes all email
    campaigns sent by our team. Your email may exceed this limit which means it may be sent out over multiple days.
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<p class="govuk-body text-secondary">
    @if (!string.IsNullOrEmpty(Model.EmailAddress))
    {
        <span>Both</span>
    }
    @rmsOptions.Value.CampaignNotificationEmailAddress
    @if (!string.IsNullOrEmpty(Model.EmailAddress))
    {
        <span> and @Model.EmailAddress</span>
    }
    will be notified by email that the email campaign has started sending and to how many recipients.
</p>

<button type="submit" asp-action="SendEmail" class="govuk-button" data_module="govuk-button">Send email</button>
