<section id="cookies" class="bg-athens cookie-warning no-print" aria-label="Cookies Banner">
    <div class="govuk-cookie-banner" role="region" aria-label="Cookies on Join Dementia Research">
        <div class="govuk-cookie-banner__message govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-cookie-banner__heading govuk-heading-l">Cookies on Join Dementia Research</h2>
                    <div class="govuk-cookie-banner__content">
                        <p class="govuk-body">We use some essential cookies to make this service work.</p>
                        <p class="govuk-body">We'd like to set additional cookies to understand how you use Join Dementia Research, remember your settings and improve the service.</p>
                        <p class="govuk-body">We also use cookies set by other sites to help us deliver content via their services.</p>
                    </div>
                </div>
            </div>
            <div class="govuk-button-group govuk-width-container">
                <button value="accept" type="submit" name="cookies" class="govuk-button cookie-btn" onclick="acceptCookie()" tabindex="0">
                    Accept analytical cookies
                </button>
                <button value="reject" type="submit" name="cookies" class="govuk-button cookie-btn" onclick="rejectCookie()" tabindex="0">
                    Reject analytical cookies
                </button>
                <a href="https://news.joindementiaresearch.nihr.ac.uk/cookie-policy/">View cookies</a>
            </div>
        </div>
    </div>
</section>

<template id="confirmationMessageTemplate">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-cookie-banner__content">
                <p class="govuk-body">You’ve <span class="user-decision"></span> additional cookies. You can <a class="govuk-link inline-link" href="https://news.joindementiaresearch.nihr.ac.uk/cookie-policy/">View our cookie policy for more information</a> at any time.</p>
                    </div>
                </div>
            </div>
            <div class="govuk-width-container  govuk-button-group">
        <button role="button" draggable="false" class="govuk-grid-column-two-thirds govuk-button cookie-btn" onclick="closeCookieBanner()" tabindex="0">
                    Hide cookie message
                </button>
            </div>
</template>