<footer style="clear: both;">
    <div style="margin-top: 30px" class="row-full footerBackground">
        <div style="padding-right:0px;padding-left:0px" class="footerContainer container">
            <div class="footer col-md-12 hidden-print">
                <div class="footerLinks col-md-10">
                    <div class="col-md-3">
                        <h2>Any Questions?</h2>

                        <ul>
                            <li><a href="https://www.joindementiaresearch.nihr.ac.uk/help">For the public</a></li>
                            <li><a href="https://nhs.joindementiaresearch.nihr.ac.uk/">For healthcare professionals</a></li>
                            <li><a href="https://www.joindementiaresearch.nihr.ac.uk/content/researchers">For researchers</a></li>
                            <li><a href="https://www.joindementiaresearch.nihr.ac.uk/contactus">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h2>Promote the service</h2>
                        <ul>
                            <li><a href="https://news.joindementiaresearch.nihr.ac.uk/other-ways-get-involved/ ">Other ways to get involved</a></li>
                            <li><a href="https://news.joindementiaresearch.nihr.ac.uk/join-dementia-research-materials/">Resources</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h2>More information</h2>
                        <ul>
                            <li><a href="https://www.joindementiaresearch.nihr.ac.uk/content/other_dnr_initiatives">Collaborators &amp; Other initiatives</a></li>

                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h2>Policy</h2>
                        <ul>
                            <li><a href="https://www.joindementiaresearch.nihr.ac.uk/content/privacy">Privacy notice</a></li>
                            <li><a href="https://www.joindementiaresearch.nihr.ac.uk/content/volunteersheet">Volunteer guide</a></li>
                            <li><a href="https://www.joindementiaresearch.nihr.ac.uk/content/accessibility">Accessibility statement</a></li>
                            <li><a href="https://www.joindementiaresearch.nihr.ac.uk/policiesandprocedures">Policies</a></li>
                        </ul>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>

                <div class="accordionMobile">
                    <ul role="none">
                        <li role="none" onclick="footerTabbingFix(this, true, this.children[0].checked)" class="accordionBorder" aria-expanded="false">
                            <input aria-hidden="true" tabindex="-1" type="checkbox" checked="">
                            <i style="padding-right: 15px"></i>
                            <span class="sr-only">List Minimised</span>
                            <p>Any Questions?</p>
                            <ul style="display: none;">
                                <li><a href="https://www.joindementiaresearch.nihr.ac.uk/help">For the public</a></li>
                                <li><a href="http://nhs.joindementiaresearch.nihr.ac.uk/">For healthcare professionals</a></li>
                                <li><a href="https://www.joindementiaresearch.nihr.ac.uk/content/researchers">For researchers</a></li>
                                <li><a href="https://www.joindementiaresearch.nihr.ac.uk/contactus">Contact us</a></li>
                            </ul>
                        </li>

                        <li role="none" onclick="footerTabbingFix(this, true, this.children[0].checked)" class="accordionBorder" aria-expanded="false">
                            <input aria-hidden="true" tabindex="-1" type="checkbox" checked="">
                            <i style="padding-right: 15px"></i>
                            <span class="sr-only">List Minimised</span>
                            <p>Promote the service</p>
                            <ul style="display: none;">
                                <li><a href="https://news.joindementiaresearch.nihr.ac.uk/other-ways-get-involved/ ">Other ways to get involved</a></li>
                                <li><a href="http://news.joindementiaresearch.nihr.ac.uk/join-dementia-research-materials/">Resources</a></li>
                            </ul>
                        </li>

                        <li role="none" onclick="footerTabbingFix(this, true, this.children[0].checked)" class="accordionBorder" aria-expanded="false">
                            <input aria-hidden="true" tabindex="-1" type="checkbox" checked="">
                            <i style="padding-right: 15px"></i>
                            <span class="sr-only">List Minimised</span>
                            <p>More information</p>
                            <ul style="display: none;">
                                <li><a href="https://www.joindementiaresearch.nihr.ac.uk/content/other_dnr_initiatives">Collaborators &amp; Other initiatives</a></li>

                            </ul>
                        </li>

                        <li role="none" onclick="footerTabbingFix(this, true, this.children[0].checked)" class="accordionBorder" aria-expanded="false">
                            <input aria-hidden="true" tabindex="-1" type="checkbox" checked="">
                            <i style="padding-right: 15px"></i>
                            <span class="sr-only">List Minimised</span>
                            <p>Policy</p>
                            <ul style="display: none;">
                                <li><a href="https://www.joindementiaresearch.nihr.ac.uk/content/privacy">Privacy notice</a></li>
                                <li><a href="https://www.joindementiaresearch.nihr.ac.uk/content/volunteersheet">Volunteer guide</a></li>
                                <li><a href="https://www.joindementiaresearch.nihr.ac.uk/content/accessibility">Accessibility statement</a></li>
                                <li><a href="https://www.joindementiaresearch.nihr.ac.uk/policiesandprocedures">Policies</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>







                <div class="social-media col-md-2">
                    <p class="header">
                        Join us on social media
                    </p>
                    <div class="shareContainer">
                        <div class="socialShare">
                            <button tabindex="0" id="facebookShare" class="socialShareBtns" title="Join us on Facebook" onclick="window.open('https://www.facebook.com/joindementiaresearch','_blank')" target="blank">
                                <img class="socialImg2" src="https://nhs.joindementiaresearch.nihr.ac.uk/wp-content/themes/patients-in-research-2023/images/facebook-square-brands.svg" alt="Join us on Facebook icon">
                            </button>
                        </div>
                        <div class="socialShare">
                            <button tabindex="0" id="twitterShare" class="socialShareBtns" title="Join us on Twitter" onclick="window.open('https://twitter.com/beatdementia','_blank')" target="blank">
                                <img class="socialImg2" src="https://nhs.joindementiaresearch.nihr.ac.uk/wp-content/themes/patients-in-research-2023/images/twitter-square-brands.svg" alt="Join on Twitter icon">
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>



                    <!-- Place this tag where you want the widget to render. -->
                    <!-- <div class="g-follow" data-annotation="bubble" data-height="20" data-href="https://plus.google.com/100775709303981426902" data-rel="publisher"></div> -->
                    <!-- Place this tag after the last widget tag. -->
                    <script type="text/javascript">
                        window.___gcfg = { lang: 'en-GB' };

                        (function () {
                            var po = document.createElement('script');
                            po.type = 'text/javascript';
                            po.async = true;
                            po.src = 'https://apis.google.com/js/platform.js';
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(po, s);
                        })();
                    </script>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- New footer -->
            <div class="footer2 col-md-12 hidden-print">
                <hr class="horizontal-rule">
                <div class="partners col-md-12">
                    <p>
                        Delivered in partnership by
                    </p>
                </div>
                <div class="row" style="margin: 0px">

                    <div class="footerImageContainer col-md-12">
                        <div class="col-md-6 footerImageContainerCol">
                            <div class="col-md-3 footerImageContainerInnerCol">
                                <a href="https://www.nihr.ac.uk/" target="blank">
                                    <img class="NIHRLogo" src="https://www.joindementiaresearch.nihr.ac.uk//images/core/NIHR-Logo.png" alt="National Institute for Health Research Home - Opens in a new tab">
                                </a>
                            </div>

                            <div class="col-md-3 footerImageContainerInnerCol">
                                <a href="http://www.alzscot.org/" target="blank">
                                    <img class="AZSCOTLogo" src="https://www.joindementiaresearch.nihr.ac.uk//images/core/Alzheimers_Scotland_Logo.png" alt="Alzheimers Scotland Home - Opens in a new tab">
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 footerImageContainerCol">
                            <div class="col-md-3 footerImageContainerInnerCol">
                                <a href="http://www.alzheimersresearchuk.org/" target="blank">
                                    <img class="AZRUKLogo" src="https://www.joindementiaresearch.nihr.ac.uk//images/core/Alzheimers_Research_UK_Logo.png" alt="Alzheimers Research Home - Opens in a new tab">
                                </a>
                            </div>

                            <div class="col-md-3 footerImageContainerInnerCol">
                                <a href="http://www.alzheimers.org.uk/" target="blank">
                                    <img class="AZSLogo" src="https://www.joindementiaresearch.nihr.ac.uk//images/core/AlzSoc_Logo.png" alt="Alzheimers Society Home - Opens in a new tab">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <!-- END new footer -->




            <div class="footer2 col-md-12 hidden-print">




                <hr class="horizontal-rule">

                <div style="position: relative;">
                    <div style="float: left;">
                        <a style="float: left;" class="Logo footerImage" href="https://www.joindementiaresearch.nihr.ac.uk">
                            <img src="https://nhs.joindementiaresearch.nihr.ac.uk/wp-content/themes/patients-in-research-2023/images/JDR_cmyk.png" alt="Join Dementia Research" height="55" width="140">
                        </a>
                        <div style="height: 55px; float: left; margin-left: 30px;padding-top:18px" class="footerBottomText partners-light">
                        </div>
                    </div>

                    <a href="#top" class="footerImage" style="float: right; outline-offset: 5px;">
                        <div class="footerBottomText" style="float: right; color: black;">
                            <i style="float: right; margin-left: 10px; border: 1px solid black;padding: 10px 4px 11px 4px;font-size: 30px;margin-top: 6px;border-radius: 4px;" class="fas fa-chevron-up" aria-hidden="true"></i>
                            <p class="backToTop" style="">Back to top</p>
                        </div>
                    </a>
                </div>
                <div style="padding-top:65px" class="mobileOnly text-center col-12">
                </div>
            </div>
        </div>
    </div>

</footer>