<header id="#top" class="site-header">
    <div class="govuk-width-container">
        <div class="header-images">
            <a class="jdr-logo-container" href="https://www.joindementiaresearch.nihr.ac.uk/">
                <img class="jdr-logo" src="https://nhs.joindementiaresearch.nihr.ac.uk/wp-content/themes/patients-in-research-2023/images/JDR_cmyk.png" alt="Join Dementia Research home page">
            </a>
            <a class="nhs-logo-container" href="https://www.nhs.uk/" target="_blank">
                <img class="nhs-logo" src="https://nhs.joindementiaresearch.nihr.ac.uk/wp-content/themes/patients-in-research-2023/images/NHS-Logo.png" alt="NHS website">
            </a>
        </div>

        <div class="header-buttons govuk-button-group">
            <a class="govuk-button" href="/loginform">Login</a>
            <a class="govuk-button govuk-button--secondary" href="/signup?question=start&amp;true">Sign up</a>
        </div>
    </div>

    <nav role="navigation" class="govuk-width-container navigation" id="nav" aria-label="site navigation">
        <div id="nav-menu-button" class="d-none govuk-width-container">
                <button type="button" class="navbar-toggle dropdown" data-toggle="collapse" data-target=".navbar-collapse" id="navbar-button-header">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                <span class="chevron">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 8 8" fill="none">
                        <path d="M6.33366 3L4.00033 5.33333L1.66699 3"></path>
                    </svg>
                </span>
                </button>
            </div>
        <div class="govuk-width-container navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/" title="Home">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/about" title="About us">
                        About us
                    </a>
                </li>
                <li>
                    <a href="/whysignup" title="Why sign up?">
                        Why sign up?
                    </a>
                </li>

                <li>
                    <a href="/volunteer-stories/" title="Volunteer stories">
                        Volunteer stories
                    </a>
                </li>
                <li>
                    <a href="https://news.joindementiaresearch.nihr.ac.uk" title="News">
                        News
                    </a>
                </li>
                <li>
                    <a href="/healthcare">
                        Healthcare
                    </a>
                </li>
                <li>
                    <a href="/researchers">
                        Researchers
                    </a>
                </li>
                @*<li class="nav-dropdown">
                    <details>
                        <summary class="govuk-link">For professionals</summary>
                        <ul class="sub-menu">
                            <li><a href="https://nhs.joindementiaresearch.nihr.ac.uk/" class="govuk-link">For healthcare</a></li>
                            <li><a href="https://www.joindementiaresearch.nihr.ac.uk/content/researchers" class="govuk-link">For researchers</a></li>
                        </ul>
                    </details>
                </li>*@
            </ul>
        </div><!--/.nav-collapse -->
    </nav>
    <script>
        // remove d-none and add class for control over the menu button.
        document.querySelector('#nav-menu-button').className = document.querySelector('#nav-menu-button').className.replace('d-none', 'nav-menu-button')

        // hide the list when js is enabled
        document.querySelector('.navbar-collapse').className += " collapse"
    </script>
</header>