@using Microsoft.AspNetCore.Localization
@{
    var cultureFeature = Context.Features.Get<IRequestCultureFeature>();
    var culture = cultureFeature?.RequestCulture?.Culture?.ToString() ?? "en-GB";

    var followUs = culture == "cy-GB" ? "Dilynwch ni" : "Follow us";
}

<div class="bg-alt bg-alt--dark no-print socialMediaIcons-Bar">
    <div class="socialMediaIcons-footer">
        <div class="row justify-content-start justify-content-md-end socialMediaIcons">
            <div class="social-media ds-6 d-flex p-3">
                <span class="font-weight-bold mr-2">@followUs</span>
                <div class="icon-holder">
                    <a href="https://www.facebook.com/OfficialNIHR/" target="_blank" aria-label="Facebook (Opens in a new tab)" class="accessability-image icon"><i class="fab fa-facebook-f social-media__icon"></i></a>
                </div>
                <div class="icon-holder">
                    <a href="https://x.com/nihrresearch" target="_blank" aria-label="X (Formerly Twitter) (Opens in a new tab)" class="accessability-image icon"><i class="fab fa-x-twitter social-media__icon"></i></a>
                </div>
                <div class="icon-holder">
                    <a href="https://www.youtube.com/user/NIHRtv" target="_blank" aria-label="YouTube (Opens in a new tab)" class="accessability-image icon"><i class="fab fa-youtube social-media__icon"></i></a>
                </div>
                <div class="icon-holder">
                    <a href="https://www.linkedin.com/company/nihr-research" target="_blank" aria-label="LinkedIn (Opens in a new tab)" class="accessability-image icon"><i class="fab fa-linkedin social-media__icon"></i></a>
                </div>
                <div class="icon-holder">
                    <a href="https://www.instagram.com/nihr_research/" target="_blank" aria-label="Instagram (Opens in a new tab)" class="accessability-image icon"><i class="fab fa-instagram social-media__icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>