<footer>
	<div class="social-container-header">
		<div class="social-container">
			<span class="social-title">Follow us</span>
			<a target="_blank" rel="noopener noreferrer" aria-label="Facebook (Opens in a new tab)" class="social-link" href="https://www.facebook.com/OfficialNIHR/">
				<span class="social-icon">
					<svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" class="svg-inline--fa fa-facebook-f fa-xs social-svg" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" aria-label="Facebook">
						<path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" />
					</svg>
				</span>
			</a>
			<a target="_blank" rel="noopener noreferrer" aria-label="Twitter (Opens in a new tab)" class="social-link" href="https://twitter.com/NIHRtakepart">
				<span class="social-icon">
					<svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" class="svg-inline--fa fa-twitter fa-xs social-svg" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-label="Twitter">
						<path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
					</svg>
				</span>
			</a>
			<a target="_blank" rel="noopener noreferrer" aria-label="YouTube (Opens in a new tab)" class="social-link" href="https://www.youtube.com/user/NIHRtv">
				<span class="social-icon">
					<svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube" class="svg-inline--fa fa-youtube fa-xs social-svg" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" aria-label="You Tube">
						<path fill="currentColor" d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z" />
					</svg>
				</span>
			</a>
			<a target="_blank" rel="noopener noreferrer" aria-label="LinkedIn (Opens in a new tab)" class="social-link" href="https://www.linkedin.com/company/nihr-research">
				<span class="social-icon">
					<svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" class="svg-inline--fa fa-linkedin fa-xs social-svg" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-label="LinkedIn">
						<path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z" />
					</svg>
				</span>
			</a>
		</div>
	</div>
	<div class="link-container">
		<div class="link-columns-container" role="navigation" aria-label="Site menu">
			<h2 class="link-title">Site Links</h2>
			<div class="link-column-list-container">
				<div class="link-list-container">
					<div class="link-list">
						<h3 aria-label="Services pages on this website" class="link-header">Services</h3>
						<ul class="footer-link-ul">
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/" class="footer-link-li-a" target="_blank" aria-label="Find a study (Opens in a new tab)" rel="noopener noreferrer">Find a study</a>
							</li>
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/promote-research/information-for-researchers/" class="footer-link-li-a" target="_blank" aria-label="Add my study (Opens in a new tab)" rel="noopener noreferrer">Add my study</a>
							</li>
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/results/a-z-conditions" class="footer-link-li-a" target="_blank" aria-label="A-Z conditions (Opens in a new tab)" rel="noopener noreferrer">A-Z conditions</a>
							</li>
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/about/glossary/" class="footer-link-li-a" target="_blank" aria-label="Glossary (Opens in a new tab)" rel="noopener noreferrer">Glossary</a>
							</li>
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/about/frequently-asked-questions/" class="footer-link-li-a" target="_blank" aria-label="FAQs (Opens in a new tab)" rel="noopener noreferrer">FAQs</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="link-column-list-container">
				<div class="link-list-container">
					<div class="link-list">
						<h3 aria-label="Learn pages on this website" class="link-header">Learn</h3>
						<ul class="footer-link-ul">
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/what-is-health-and-care-research/" class="footer-link-li-a" target="_blank" aria-label="What is health and care research? (Opens in a new tab)" rel="noopener noreferrer">What is health and care research?</a>
							</li>
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/take-part-in-research/why-taking-part-matters/" class="footer-link-li-a" target="_blank" aria-label="Why taking part matters (Opens in a new tab)" rel="noopener noreferrer">Why taking part matters</a>
							</li>
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/take-part-in-research/what-to-expect-on-a-study/" class="footer-link-li-a" target="_blank" aria-label="What to expect on a study (Opens in a new tab)" rel="noopener noreferrer">What to expect on a study</a>
							</li>
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/taking-part/Consent/" class="footer-link-li-a" target="_blank" aria-label="Consenting to a study (Opens in a new tab)" rel="noopener noreferrer">Consenting to a study</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="link-column-list-container">
				<div class="link-list-container">
					<div class="link-list">
						<h3 aria-label="Site policy pages on this website" class="link-header">Site policies</h3>
						<ul class="footer-link-ul">
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/site-policies/" class="footer-link-li-a" target="_blank" aria-label="All site policies (Opens in a new tab)" rel="noopener noreferrer">All site policies</a>
							</li>
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/site-policies/accessibility" class="footer-link-li-a" target="_blank" aria-label="Accessibility (Opens in a new tab)" rel="noopener noreferrer">Accessibility</a>
							</li>
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/site-policies/complaints" class="footer-link-li-a" target="_blank" aria-label="Complaints (Opens in a new tab)" rel="noopener noreferrer">Complaints</a>
							</li>
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/site-policies/cookie-policy" class="footer-link-li-a" target="_blank" aria-label="Cookie policy (Opens in a new tab)" rel="noopener noreferrer">Cookie policy</a>
							</li>
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/site-policies/freedom-of-information" class="footer-link-li-a" target="_blank" aria-label="Freedom of information (Opens in a new tab)" rel="noopener noreferrer">Freedom of information</a>
							</li>
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/site-policies/privacy-policy" class="footer-link-li-a" target="_blank" aria-label="Privacy policy (Opens in a new tab)" rel="noopener noreferrer">Privacy policy</a>
							</li>
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/site-policies/terms-and-conditions" class="footer-link-li-a" target="_blank" aria-label="Terms and conditions (Opens in a new tab)" rel="noopener noreferrer">Terms and conditions</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="link-column-list-container">
				<div class="link-list-container">
					<div class="link-list">
						<h3 aria-label="Stay Connected pages on this website" class="link-header">Stay connected</h3>
						<ul class="footer-link-ul">
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/Articles/index" class="footer-link-li-a" target="_blank" aria-label="Blogs (Opens in a new tab)" rel="noopener noreferrer">Blogs</a>
							</li>
							<li class="footer-link-li">
								<a href="https://bepartofresearch.nihr.ac.uk/get-in-touch/" class="footer-link-li-a" target="_blank" aria-label="Get in touch (Opens in a new tab)" rel="noopener noreferrer">Get in touch</a>
							</li>
							<li class="footer-link-li">
								<a href="https://nihr.us14.list-manage.com/subscribe?u=299dc02111e8a68172029095f&amp;id=3b030a1027" class="footer-link-li-a" target="_blank" aria-label="Newsletter (Opens in a new tab)" rel="noopener noreferrer">Newsletter</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="link-bpor">
				<a href="https://bepartofresearch.nihr.ac.uk" target="_blank" rel="noopener noreferrer" aria-label="Be Part of Research (Opens in a new tab)" class="link-bpor-a">
					<img src="~/images/BPoR_logo_WO.svg" alt="Be Part Of Research footer Logo" class="link-bpor-img">
				</a>
			</div>
		</div>
	</div>
	<div class="footer-image-wrapper">
		<div class="regional-logos nihr-image" id="NIHRFooter">
			<a href="https://www.nihr.ac.uk/" aria-label="National Institute for Health and Care Research" class="footerImage">
				<img src="~/images/NIHR-Logo.svg" id="NihrLogo" class="regional-logos img-responsive" alt="National Institute for Health and Care Research">
			</a>
		</div>
		<div class="regional-logos NI-logo">
			<a href="https://www.research.hscni.net/" target="_blank" rel="noopener noreferrer" aria-label="Public Health Agency Northern Ireland (Opens in a new tab)" class="footerImage NI-logo-link">
				<img src="~/images/HSCLogo.svg" class="regional-logos img-responsive NI-logo-img" alt="Public Health Agency Northern Ireland">
			</a>
		</div>
		<div class="regional-logos Scot-logo">
			<a href="https://www.nhsresearchscotland.org.uk/" target="_blank" rel="noopener noreferrer" aria-label="NHS Scotland (Opens in a new tab)" class="footerImage scot-logo-img">
				<img src="~/images/nhs-research-scotland-logo.svg" class="regional-logos img-responsive" alt="NHS Scotland">
			</a>
		</div>
		<div class="regional-logos HCW-logo">
			<a href="https://healthandcareresearchwales.org/" target="_blank" rel="noopener noreferrer" aria-label="Health and Care Research Wales (Opens in a new tab)" class="footerImage HCWLogoContainer">
				<img src="~/images/Health-and-Care-Research-Wales-full-colour-logo-CMYK.svg" class="regional-logos img-responsive" alt="Health and Care Research Wales">
			</a>
		</div>
	</div>
</footer>