@using BPOR.Rms.Startup
@using BPOR.Domain.Entities
@inject ICurrentUserProvider<User> UserProvider

<header class="govuk-header" role="banner">
    <div class="govuk-header__container">
        <div class="header-content-container">
            <div class="header-content-left">
                <h1 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-left-4 heading-white">Registry Management System</h1>
            </div>
            <div class="header-content-right">
                @if (UserProvider.User is not null)
                {
                    <span id="logged-in-username">@UserProvider?.User?.ContactFullName</span>
                    <nav class="sign-out-nav govuk-!-margin-left-4">
                        <a class="govuk-link sign-out-nav__link" href="?sign-out">
                            Sign out
                        </a>
                    </nav>
                }
                <a href="https://www.nihr.ac.uk/" class="govuk-header__link govuk-!-margin-left-4" target="_blank" aria-label="Go to nihr.ac.uk (opens in new window)">
                    <span class="govuk-header__logotype nihr-logo">
                        <img alt="National Institute for Health and Care Research logo" loading="lazy" width="154" height="18" decoding="async" data-nimg="1" style="color:transparent" src="/images/nihr.svg">
                    </span>
                </a>
            </div>
        </div>
    </div>
</header>
