@inject Microsoft.Extensions.Hosting.IHostEnvironment HostEnvironment

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-environment" content="@HostEnvironment.EnvironmentName" />
    <title>@ViewData["Title"] - Registry Management System - Be Part of Research</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/govuk-frontend.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/nihr-ui.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nihr-typography.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nihr-component-ui.css" asp-append-version="true" />

    @* <link rel="stylesheet" href="~/{APP ASSEMBLY}.styles.css" /> *@

    <link rel="icon" href="~/images/NIHR-favicon.ico" type="image/x-icon">
</head>
<body>
    <script>
        document.body.className += 'js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    <partial name="_Header" />

    @if (ViewData["ProgressPercentage"] is not null)
    {
        <partial name="Partials/_ProgressBar" />
    }

    <div class="govuk-width-container">
        <div class="govuk-back-link-container float-content-right">
            @if (ViewData["ProgressPercentage"] is not null)
                {
                    <span class="govuk-progress-percentage">@ViewData["ProgressPercentage"]%</span>
                }
        </div>
        <back-link />
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <breadcrumbs />
            <partial name="Partials/_NotificationBanner" />
            <partial name="Partials/_ErrorSummary" />
            @RenderBody()
        </main>
    </div>

    <script type="module" src="~/js/govuk-frontend-5.4.0.min.js"></script>
    <script type="module">
        import {
            initAll
        } from '/js/govuk-frontend-5.4.0.min.js'
        initAll()
    </script>
    <script src="~/js/nihr-ui.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
