<div class="govuk-inset-text">
    <strong>Please note:</strong> GOV UK Notify has an email allowance of 250,000 per day. This includes all email campaigns sent by our team. Your email may exceed this limit which means it may be sent out over multiple days.
</div>

<hr/>

<button type="submit" name="action" value="Next" class="govuk-button" data_module="govuk-button" asp-action="EmailSuccess" asp-controller="Email">Send email</button>
