@model BPOR.Rms.Models.Email.SetupCampaignViewModel

<div class="govuk-form-group">
    <label class="govuk-label" for="template">
        Select email template
    </label>
    <div id="template-hint" class="govuk-hint">
        These templates are managed through your GOV UK Notify account
    </div>
    <select class="govuk-select" id="template" name="template" aria-describedby="template-hint">
        <option value="choose" selected>Choose template</option>
    </select>
</div>
