@model BPOR.Rms.Models.Email.SetupCampaignViewModel

<style>
    /* Mobile devices */
    @@media (max-width: 640px) {
        .govuk-select {
            width: 100%; /* Make input full width on mobile */
        }
    }

    /* Desktop and larger devices - more than 1024px */
    @@media (min-width: 641px) {
        .govuk-select {
            width: 70%; /* Make input 30% width on desktop */
        }
    }
</style>

<div class="govuk-form-group @(Html.ViewData.ModelState["SelectedTemplateId"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")" asp-for="SelectedTemplateId">
    <label asp-for="SelectedTemplateId" class="govuk-label govuk-label--l" for="SelectedTemplateId">
        @Html.DisplayNameFor(model => model.SelectedTemplateId)
    </label>
    <div id="SelectedTemplateId-hint" class="govuk-hint">
        These templates are managed through your GOV UK Notify account
    </div>
    @if (Html.ViewData.ModelState["SelectedTemplateId"]?.Errors.Count > 0)
    {
        <span id="SelectedTemplateId-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            @Html.ValidationMessageFor(model => model.SelectedTemplateId)
        </span>
    }
    @if (Model.EmailTemplates?.templates != null && Model.EmailTemplates.templates.Any())
    {
        var selectListItems = Model.EmailTemplates.templates.Select(t => new SelectListItem
        {
            Value = t.id,
            Text = t.name
        }).ToList();

        <select asp-for="SelectedTemplateId" asp-items="selectListItems" class=@(Html.ViewData.ModelState["SelectedTemplateId"]?.Errors.Count > 0 ? "govuk-select govuk-select--error" : "govuk-select") aria-describedby="SelectedTemplateId-hint" aria-errormessage="SelectedTemplateId-error">
            <option value="" disabled selected>Select a template</option>
        </select>
    }
    else
    {
        <p>No templates available.</p>
    }
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const templateSelect = document.getElementById('SelectedTemplateId');
        const previewEmailsInput = document.getElementById('PreviewEmails');
        const notificationBanner = document.getElementById('notification-banner');

        // Function to remove the notification banner
        const removeNotification = () => {
            if (notificationBanner) {
                notificationBanner.style.display = 'none';
            }
        };

        // Event listeners to remove the banner when changes occur
        templateSelect?.addEventListener('change', () => {
            removeNotification();
        });

        previewEmailsInput?.addEventListener('input', () => {
            removeNotification();
        });
    });

</script>
