@model BPOR.Rms.Models.Email.SetupCampaignViewModel

<style>
    /* Mobile devices */
    @@media (max-width: 640px) {
        .govuk-select {
            width: 100%; /* Make input full width on mobile */
        }
    }

    /* Desktop and larger devices - more than 1024px */
    @@media (min-width: 641px) {
        .govuk-select {
            width: 70%; /* Make input 30% width on desktop */
        }
    }
</style>

<div class="govuk-form-group" @(Html.ViewData.ModelState["SelectedTemplate"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")>
    <label asp-for="SelectedTemplate" class="govuk-label govuk-label--l" for="SelectedTemplate">
        @Html.DisplayNameFor(model => model.SelectedTemplate)
    </label>
    <div id="SelectedTemplate-hint" class="govuk-hint">
        These templates are managed through your GOV UK Notify account
    </div>
    @if (Html.ViewData.ModelState["SelectedTemplate"]?.Errors.Count > 0)
    {
        <span id="SelectedTemplate-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            @Html.ValidationMessageFor(model => model.SelectedTemplate)
        </span>
        <select class="govuk-select govuk-select--error" id="SelectedTemplate" asp-for="SelectedTemplate" aria-describedby="SelectedTemplate-hint SelectedTemplate-error">
            <option value="" selected>Select template</option>
            <option value="cd26ccf6-75d6-4521-884f-1693c62ed303">Template 1</option>
        </select>
    }
    else
    {
        <select class="govuk-select" id="SelectedTemplate" asp-for="SelectedTemplate" aria-describedby="SelectedTemplate-hint">
            <option value="" selected>Select template</option>
            <option value="cd26ccf6-75d6-4521-884f-1693c62ed303">Template 1</option>
        </select>
    }
</div>
