/* Primary button base style */
.govuk-button {
    background-color: #193E72; /* Assuming this is the default blue */
    color: #FFFFFF; /* White */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* Prevent text from wrapping */
    box-shadow: none;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0px;
    border: 0.25rem solid rgb(25, 62, 114);
    outline: transparent solid 0.25rem;
}

    .govuk-button:active,
    .govuk-button:active:hover,
    .govuk-button:focus:not(:active):not(:hover),
    .govuk-button:focus {
        outline: none;
        color: #193E72;
        top: 0px;
        background: rgb(254, 212, 122);
        border: 0.25rem solid rgb(254, 212, 122);
        border-radius: 4px 4px 0px 0px;
        box-shadow: rgb(25, 62, 114) 0px 4px 0px 0px;
    }

    /* Handling hover, focus, active, and disabled states */
    .govuk-button:hover {
        background-color: rgb(71, 101, 142);
        border: 0.25rem solid rgb(71, 101, 142);
        color: rgb(255, 255, 255);
        box-shadow: none;
        padding-left: 1em;
        padding-right: 1em;
    }

    .govuk-button[disabled] {
        opacity: .5;
        pointer-events: none;
        cursor: default;
    }

        .govuk-button[disabled]:hover {
            background-color: #BFC1C3;
            cursor: not-allowed
        }

        .govuk-button[disabled]:active {
            top: 0;
            box-shadow: 0 2px 0 #BFC1C3
        }

/* Secondary button base style */
.govuk-button--secondary {
    background-color: #FFFFFF; /* White */
    color: rgb(25, 62, 114); /* Dark blue */
    box-shadow: none;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0px;
    border: 0.25rem solid rgb(25, 62, 114);
    outline: transparent solid 0.25rem;
}

    .govuk-button--secondary:hover {
        box-shadow: none;
        background-color: rgb(71, 101, 142);
        border: 0.25rem solid rgb(71, 101, 142);
        color: rgb(255, 255, 255);
        padding-left: 1em;
        padding-right: 1em;
        outline: transparent solid 0.25rem;
    }

    .govuk-button--secondary:active,
    .govuk-button--secondary:focus:not(:active):not(:hover),
    .govuk-button--secondary:focus {
        outline: none;
        color: #193E72;
        top: 0px;
        background: rgb(254, 212, 122);
        border: 0.25rem solid rgb(254, 212, 122);
        border-radius: 4px 4px 0px 0px;
        box-shadow: rgb(25, 62, 114) 0px 4px 0px 0px;
    }

    .govuk-button--secondary:visited {
        color: #193E72;
    }

    .govuk-button--secondary:hover:visited {
        color: rgb(255, 255, 255);
    }

    .govuk-button--secondary:disabled {
        background-color: #BFC1C3; /* Grey */
        color: #FFFFFF; /* White */
        cursor: not-allowed;
        box-shadow: none;
    }

    .govuk-button--secondary:hover:active {
        color: #193E72;
    }

    .govuk-button--secondary:hover:focus {
        color: #193E72;
    }


.govuk-button--submit {
    background-color: #00703c;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    box-shadow: none;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0px;
    border: 0.25rem solid #00703c;
    outline: transparent solid 0.25rem;
}

    .govuk-button--submit:active,
    .govuk-button--submit:active:hover,
    .govuk-button--submit:focus:not(:active):not(:hover),
    .govuk-button--submit:focus {
        outline: none;
        color: #193E72;
        top: 0px;
        background: rgb(254, 212, 122);
        border: 0.25rem solid rgb(254, 212, 122);
        border-radius: 4px 4px 0px 0px;
        box-shadow: rgb(25, 62, 114) 0px 4px 0px 0px;
    }

    /* Handling hover, focus, active, and disabled states */
    .govuk-button--submit:hover {
        background-color: #47658E;
        border: 0.25rem solid #47658E;
        color: rgb(255, 255, 255);
        box-shadow: none;
        padding-left: 1em;
        padding-right: 1em;
    }

    .govuk-button--submit[disabled] {
        opacity: .5;
        pointer-events: none;
        cursor: default;
    }

        .govuk-button--submit[disabled]:hover {
            background-color: #BFC1C3;
            cursor: not-allowed
        }

        .govuk-button--submit[disabled]:active {
            top: 0;
            box-shadow: 0 2px 0 #BFC1C3
        }

.progress-bar-container {
    width: 100%;
    background-color: #b1b4b6; /* Light grey background */
    height: 10px;
    position: relative;
}

.progress-bar {
    width: 50%; /* Initial progress */
    height: 100%;
    background-color: #1d70b8; /* GOV.UK blue */
    position: absolute;
}

.govuk-input {
    width: 100%;
    font-size: 18px;
    line-height: 27px;
    word-wrap: break-word;
    border-radius: 0.3rem;
    padding: 1em;
    border-color: rgb(145, 145, 145);
}

    .govuk-input:focus {
        padding: 0.9em;
        border: 4px solid rgb(25, 62, 114);
        box-shadow: none;
        outline: rgb(254, 212, 122) solid 4px;
    }

.govuk-input__suffix {
    font-size: 18px;
    line-height: 27px;
    border-radius: 0 0.3em 0.3em 0;
    border-color: rgb(145, 145, 145);
    color: darkslategray; 
}

.govuk-input__wrapper > .govuk-input:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.govuk-textarea {
    width: 100%;
    font-size: 18px;
    line-height: 27px;
    word-wrap: break-word;
    border-radius: 0.3rem;
    padding: 0.5em;
    border-color: rgb(145, 145, 145);
    min-height: 200px;
}

    .govuk-textarea:focus {
        padding: 0.9em;
        border: 4px solid rgb(25, 62, 114);
        box-shadow: none;
        outline: rgb(254, 212, 122) solid 4px;
    }

.govuk-label {
    font-weight: 700;
}

.govuk-label--l {
    font-size: 1.5rem;
    line-height: 1.1111111111
}

.govuk-label--m {
    font-size: 1rem;
    line-height: 1.1111111111
}

.govuk-label--n {
    font-size: 1rem;
    line-height: 1.1111111111;
    font-weight: 400;
}

.govuk-skip-link,
.govuk-link,
.govuk-back-link {
    text-decoration: none;
    color: rgb(29, 112, 184);
    cursor: pointer;
}

    .govuk-link:hover,
    .govuk-back-link:hover {
        color: #193E72;
        text-decoration: underline;
    }

        .govuk-link:hover:visited,
        .govuk-back-link:hover:visited {
            color: #193E72;
            text-decoration: underline;
        }

    .govuk-link:visited,
    .govuk-back-link:visited {
        color: rgb(29, 112, 184);
    }

    .govuk-header__link:focus,
    .govuk-skip-link:focus,
    .govuk-link:focus,
    .govuk-back-link:focus {
        text-decoration: none;
        background-color: rgb(254, 212, 122);
        box-shadow: unset;
        color: #193E72;
    }

    .govuk-skip-link:focus {
        outline: none;
    }

.govuk-grid-row-age-range .govuk-form-group {
    display: flex;
}

    .govuk-grid-row-age-range .govuk-form-group label {
        flex: 0 0 auto;
        margin-right: 10px;
    }

    .govuk-grid-row-age-range .govuk-form-group input {
        flex: 1 1 auto;
    }

.govuk-age-input {
    font-size: 0
}

    .govuk-age-input:after {
        content: "";
        display: block;
        clear: both
    }

.govuk-age-input__item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0
}

.govuk-age-input__label {
    display: block
}

.govuk-age-input__input {
    margin-bottom: 0
}

.govuk-select-custom {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    min-width: 14em;
    max-width: 100%;
    height: 2.5rem;
    padding: 5px;
    border: 2px solid rgb(145, 145, 145);
    color: #0b0c0c;
    background-color: #fff;
    border-radius: 0.3rem
}

.govuk-multi-select {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    min-width: 11.5em;
    max-width: 100%;
    height: 12.5rem;
    padding: 5px;
    border: 2px solid rgb(145, 145, 145);
    color: #0b0c0c;
    background-color: #fff;
    border-radius: 0.3rem
}

.divide-container {
    height: 2px;
    background-color: lightgrey;
    margin: 20px 0;
    width: 100%;
}

.filter-count-container {
    border: 2px solid;
    border-color: lightgrey;
    border-radius: 0.5rem;
    align-items: center;
    display: grid;
    padding: 20px;
}

.exclusion_label {
    width: 400px;
    padding: 10px 0px !important;
}

.govuk-input_select__wrapper {
    display: block;
    margin-top: 5px;
}

.govuk-studylabel {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1875rem;
}

.govuk-checkboxes__input {
    opacity: 0;
    cursor: pointer;
}

    .govuk-checkboxes__input + .govuk-checkboxes__label::before {
        content: '';
        display: inline-block;
        background-color: #FFF;
        border: 2px solid #919191;
        vertical-align: middle;
        transition: background-color 0.3s, border-color 0.3s;
    }

.govuk-checkboxes__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.govuk-radios__input {
    z-index: 1;
    width: 44px;
    height: 44px;
    margin: 0;
    opacity: 0;
    cursor: pointer
}

    .govuk-radios__input + .govuk-radios__label::before {
        content: '';
        display: inline-block;
        border-radius: 50%;
        background-color: #FFF;
        border: 2px solid #919191;
        vertical-align: middle;
    }

    .govuk-radios__input:checked + .govuk-radios__label::before {
        border-color: #919191;
    }

.govuk-warning-text__icon {
    border: 3px solid #193E72;
    background: #193E72;
}

.govuk-warning-text__text {
    color: #193E72;
}

.research-areas-list {
    overflow-y: scroll;
    height: 240px;
    border: 2px solid;
    border-color: #919191;
    border-radius: 0.5rem;
    padding: 10px;
}


.govuk-grid-column-one-quarter-from-desktop-no-padding {
    box-sizing: border-box;
}

.js-only {
    /* js-only component, will be shown in script if enabled */
    display: none;
}

@media (min-width:48.0625em) {
    .govuk-grid-column-one-quarter-from-desktop-no-padding {
        width: 25%;
        float: left
    }
}

.testing-only {
    border-left: 10px solid #EA5D4E;
    padding-left: 10px;
}

.filter-buttons-container {
    text-align: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.govuk-select:focus,
.govuk-select--error:focus {
    border: 4px solid rgb(25, 62, 114);
    box-shadow: none;
    outline: rgb(254, 212, 122) solid 4px;
}

.link-button {
    background: none;
    border: none;
    color: rgb(29, 112, 184);
    text-decoration: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
}

    .link-button:hover,
    .link-button:focus {
        color: #003078;
    }

    .link-button:active {
        color: #002060;
    }

.govuk-button.govuk-password-input__toggle {
    line-height: 19px;
    margin-left: 5px;
}

/* Base styles for all tags */
.govuk-tag {
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    font-feature-settings: 'clig' off, 'liga' off;
    display: flex;
    height: 23px;
    padding: 5px 8px 4px 8px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

/* Specific styles for orange tag */
.govuk-tag--orange {
    background: #FDEBD8;
    color: #494949;
}

/* Specific styles for green tag */
.govuk-tag--green {
    background: #388555;
    color: #FFFFFF;
}

.d-none {
    display: none !important;
}

.cookie-warning {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

.cookie-text:focus {
    outline: 3px solid #FED47A;
}

.cookieRow{
    margin-inline: 0px;
    padding-block: 20px;
    border-bottom: 1px solid black;
}
#cookies{
    z-index: 99999;
}

.cookie-container{
    padding-top: 50px;
}

.govuk-cookie-banner {
    padding-top: 20px;
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    background-color: #f3f2f1;
}
.govuk-cookie-banner[hidden] {
    display: none;
}
.govuk-cookie-banner__message {
    margin-bottom: -10px;
}
.govuk-cookie-banner__message[hidden] {
    display: none;
}
.govuk-cookie-banner__message:focus {
    outline: none;
}