@page
@using BPOR.Domain.Settings
@using Microsoft.Extensions.Options

@inject IOptions<VsiSettings> Options;

<h1>Volunteer study information page creation</h1>
<h3>Overview</h3>
<p>
    After collaborating with the researcher and finalising the content of the <a href="@Options.Value.GoogleDocUri">‘volunteer study information’</a> form, you
    will need to fill out this form.
</p>
<p>
    This form has the same questions in the same order as the volunteer study information form. Make sure you have it 
    open, as you will need to copy-paste most of the information.
</p>
<p>
    Not all fields are required, you can skip those that are not applicable to the study you’re filling the form for.
</p>
<div>
    <form method="post">
        <button class="govuk-button" data_module="govuk-button" type="submit">Start</button>
    </form>
</div>