@model BPOR.Rms.VolunteerInformation.Models.VsiGroupModel

@{
    ViewBag.SectionName = "Section 1: Overview";
}

<h1>Add inclusion criteria</h1>

<p>For <b>@Model.Name</b>, enter one criteron, click "Submit", and then add more.</p>

<form method="post">
    <input class="govuk-input" name="criteria" type="text">
    <button type="submit">Submit</button>
</form>
