@{
    Layout = "_VsiEditLayoutForm";
}

<form method="post">
    <partial name="Shared/_ContactEditor" model="@(new VsiContactModel())"/>
    <button type="submit" class="govuk-button">Submit</button>
</form>
