@using BPOR.Domain.Enums
@model BPOR.Rms.VolunteerInformation.Models.VsiGroupModel

@{
    ViewBag.SectionName = "Section 1: Overview";
}

@if(Model.Criteria.Any(i => i.Type == VolunteerStudyInformationGroupCriteriaTypeId.Exclude))
{
}
else
{
    <h1>Would you like to add exclusion criteria?</h1>
    <radio-set name="addExclusionCriteria">
        <radio value="@true">Yes</radio>
        <radio value="@true">No</radio>
    </radio-set>
}