@model BPOR.Rms.VolunteerInformation.Models.ManualSiteEntryModel

@{
    ViewBag.SectionName = "Section 1: Overview";
}

<h1>Research Location</h1>

<form method="post">
    <p>Add an item</p>
    <form-group label="Address Line one" for="Address.AddressLine1">
        <input class="govuk-input" asp-for="Address.AddressLine1" type="text">
    </form-group>
    <form-group label="Address Line two (optional)" for="Address.AddressLine2">
        <input class="govuk-input" asp-for="Address.AddressLine2" type="text">
    </form-group>
    <form-group label="Address Line three (optional)" for="Address.AddressLine3">
        <input class="govuk-input" asp-for="Address.AddressLine3" type="text">
    </form-group>
    <form-group label="Town or city" for="Address.AddressLine4">
        <input class="govuk-input" asp-for="Address.AddressLine4" type="text">
    </form-group>
    <form-group label="County (optional)" for="Address.AddressLine5">
        <input class="govuk-input" asp-for="Address.AddressLine5" type="text">
    </form-group>
    <form-group label="Post code" for="Address.Postcode">
        <input class="govuk-input" asp-for="Address.Postcode" type="text">
    </form-group>

    <button class="govuk-button--submit" type="submit">Submit</button>
</form>