@using BPOR.Rms.VolunteerInformation.Settings
@using Microsoft.Extensions.Options

@{
    VsiEditContext context = ViewBag.Context;
    Layout = "_VsiEditLayout";
}

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        Volunteer study information completed
    </h1>

</div>

<h1>Next steps:</h1>

<h2>1. View the volunteer study information page</h2>

<p>The link to this study page is:</p>

<p><a class="govuk-link" href="">www.atestsite.com</a></p>

<p>You can also find this link on the relevant study page in the RMS.</p>

<h2>2. Send study invite emails</h2>

<p>You can send study invite emails from the study page in the RMS. The link to the 
    volunteer study information page will automatically be updated in the relevant study invite email.</p>

<h2>3. Recruit volunteers</h2>

<p>To recruit volunteers for this study, visit the study page
    on the RMS.</p>

<p>Click on ‘Find volunteers’, and enter the criteria to start</p>

<div class="govuk-!-margin-top-5">
    <a class="govuk-button" asp-controller="Study" asp-action="Details" asp-route-id="@context.StudyId">
        Return to Study Details
    </a>
</div>