@model VsiEditModel

@{
    VsiEditContext context = ViewBag.Context;
    context.SectionName = Resources.Section1Name;
    Layout = "_VsiEditLayoutForm";
}

<form-group for="Description" label-class="govuk-heading-xl">
    <textarea rows="5" class="govuk-textarea" asp-for="Description"></textarea>
    <p>You can add up to 60 words</p>
</form-group>