@model BPOR.Rms.VolunteerInformation.Models.SiteSearchModel

@{
    ViewBag.SectionName = "Section 1: Overview";
}

<h1>Research Location</h1>

<form>
    <form-group label="Enter a postcode to select one or multiple research locations">
        <input class="govuk-input" asp-for="SearchTerm" type="text">
    </form-group>
    <button type="submit">Search postcode</button>
</form>

@if (Model.SearchResult.Any())
{
    <form method="post" asp-action="SiteSearchPost" asp-route-studyId="@Model.StudyId">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <div class="govuk-radios" data-module="govuk-radios">
                    @foreach (var result in Model.SearchResult)
                    {
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" name="rtsAddressId" type="radio" value="@result.Id">
                            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                                <p>@result.ToString()</p>
                            </label>
                        </div>
                    }
                </div>
            </fieldset>
        </div>
        <button type="submit">submit</button>
    </form>
}
else
{
    <p>No results were returned</p>
}

<a asp-action="ManualSiteEntry" asp-route-studyId="@Model.StudyId">Add address manually</a>

