:root {
    /* Colours */
    --Pink-1: #990066;
    --Pink-2: #A21774;
    --Black: #000;
    --White: #FFF;
    --Disabled: #D1D1D1;
    --Red: #D4351C;

    /* Typography */
    --font-button-family: "Gotham Bold", sans-serif;
    --font-button-size: 18px;
    --font-button-line-height: 20px;
    --font-button-weight: 700;

    /* Spacing / Borders */
    --radius-default: 5px;
    --border-thick: 2px solid var(--Pink-1);
    color: var(--Pink-1);
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordion details {
    border: 1px solid var(--Pink-1);
    border-radius: 20px;
    background-color: var(--Pink-1);
    overflow: hidden;
    transition: all 0.3s ease;
}

    .accordion details summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        font-size: 1rem;
        padding: 1rem 1.5rem;
        background-color: var(--Pink-1);
        color: var(--White);
        border-radius: 20px;
        cursor: pointer;
        position: relative;
        list-style: none;
        transition: background-color 0.3s, color 0.3s;
    }

    details summary::marker,
    details summary::-webkit-details-marker {
        display: none;
    }

        details summary::after {
            content: "▾";
            font-size: 1.2rem;
            color: var(--White);
            position: absolute;
            right: 1.5rem;
            top: 50%;
            transform: translateY(-50%);
            transition: transform 0.3s ease, color 0.3s;
        }


        details[open] summary::after {
            transform: translateY(-50%) rotate(180deg);
            color: var(--Pink-1);
        }

    details summary:hover,
    details summary:focus-visible {
        background-color: var(--White);
        color: var(--Pink-1);
        outline: none;
    }

        details summary:hover::after,
        details summary:focus-visible::after {
            color: var(--Pink-1);
        }

    details p {
        padding: 1rem 1.5rem;
        background-color: var(--White);
        color: #333;
        border-top: 1px solid #ccc;
    }


.govuk-skip-link {
    color: var(--Primary-purple, #6667AD) !important;
    font-family: var(--font-body-link, Lato) !important;
    font-size: var(--font-body-link-size, 19px) !important;
    font-style: normal !important;
    font-weight: var(--font-body-link-weight, 700) !important;
    line-height: var(--font-body-link-line-height, 28px) !important;
    text-decoration-line: underline !important;
    text-decoration-style: solid !important;
    text-decoration-skip-ink: auto !important;
    text-decoration-thickness: auto !important;
    text-underline-offset: auto !important;
    text-underline-position: from-font !important;
}


.govuk-skip-link:active,
.govuk-skip-link:focus {
    clip: auto !important;
    height: auto !important;
    margin: 0 !important;
    overflow: visible !important;
    position: static !important;
    white-space: normal !important;
    width: auto !important;
}


.govuk-button,
.govuk-button:link,
.govuk-button:visited {
    display: inline-flex;
    padding: 8px 12px 7px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-default);
    border: var(--border-thick);
    background: var(--White);
    box-shadow: 0 3px 0 0 #0B0C0C;
    color: var(--Pink-1);
    text-align: center;
    font-family: var(--font-button-family);
    font-size: var(--font-button-size);
    font-style: normal;
    font-weight: var(--font-button-weight);
    line-height: var(--font-button-line-height);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.govuk-button:hover,
.govuk-button:focus {
    color: var(--White);
    background: var(--Pink-2);
    box-shadow: 0 -2px 0 0 #002D18 inset;
    outline: none;
}

.govuk-button:active {
    color: var(--White);
    background: var(--Black);
}