:root {
    /* Colours */
    --Pink-1: #990066;
    --Pink-2: #A21774;
    --Pink-11: #F6E8F1;
    --Black: #000;
    --White: #FFF;
    --Disabled: #D1D1D1;
    --Red: #D4351C;
    --Yellow: #FFDD00;
    --Border-shadow: #5A5555;
    /* Typography */
    --font-button-family: Lato;
    --font-button-size: 16px;
    --font-button-line-height: 20px;
    --font-button-weight: 700;
    /* Spacing / Borders */
    --radius-default: 5px;
    --border-thick: 2px solid var(--Pink-1);
    color: var(--Pink-1);
    font-size: 16px;
}

@font-face {
    font-family: "GothamBold";
    src: url("~/healthcare/resources/fonts/Gotham-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4 {
    color: var(--Black);
    font-weight: 700;
    font-style: normal;
    font-family: "GothamBold";
}

h1 {
    font-size: 48px;
    line-height: 50px;
    letter-spacing: -0.72px;
}

h2 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.72px;
}

h3 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.42px;
    border-top: none;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-container {
    margin-top: 30px;
    margin-bottom: 20px;
}

.govuk-cookie-banner a {
    display: inline-flex;
    padding: 15px;
    align-items: flex-end;
    text-decoration: underline !important;
}

a:hover, a:focus {
    text-decoration: underline;
    box-shadow: none !important;
}

p {
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.inline-link {
    display: inline !important;
    padding: 0 !important;
    font-size: inherit !important;
}

.hero-container{
    width:67%;
}
@media(max-width:880px){
    .hero-container {
        width: 90%;
    }
}
.intro {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    background-color: var(--Pink-11);
}

    .intro section {
        display: flex;
        min-height:500px;
        padding: 40px 40px 40px 0px;
        flex-direction: column;
        gap: 30px;
    }

@media(max-width:1110px) {
    .intro {
        background-position-x: 20%;
        background-position-y: 0;
    }
}

@media(max-width:626px) {
    .intro section {
        width: 100%;
    }
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    margin-bottom: 60px;
}

    .section-container > p {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


.media-section {
    padding-top: 40px;
    padding-bottom: 50px;
}

.accordion-section {
    width: 100%;
    background-color: var(--Pink-11);
    padding-top: 50px;
    padding-bottom: 100px;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordion-title {
    color: inherit;
    border-top: none;
    padding-block: 10px;
    font-weight: 700;
}

.accordion-body {
    background: var(--White);
    padding: 10px 10px;
    box-shadow: 0 -1.5px 0 0 #000 inset;
}

.accordion details {
    background-color: var(--White);
    border-radius: 10px;
}

    .accordion details summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        /*font-size: 1rem;*/
        padding: 1rem 1.5rem;
        background-color: var(--Pink-1);
        color: var(--White);
        cursor: pointer;
        position: relative;
        list-style: none;
        border: 5px solid var(--Pink-1);
        border-radius: 10px;
    }

@media(max-width:40.0625em) {
    .accordion-title {
        max-width: 93%;
    }
}

details summary::marker,
details summary::-webkit-details-marker {
    display: none;
}

summary .chevron {
    display: inline-grid;
    place-items: center;
    width: 25px;
    height: 25px;
    border: 0px solid var(--White);
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}

details summary:hover,
details summary:focus-visible {
    background-color: var(--White);
    color: var(--Pink-1);
    outline: none;
}

    details summary:hover .chevron,
    details summary:focus-visible .chevron {
        background-color: var(--Black);
        color: var(--Pink-11);
        outline: none;
    }

details[open] summary .chevron svg,
details[open] summary svg {
    transform: rotate(180deg);
}

details summary:focus-visible .chevron path,
details summary:hover .chevron path {
    stroke: var(--White);
}

.chevron path {
    stroke: var(--Pink-1);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

details p {
    padding: 10px 15px;
    background-color: var(--White);
    color: #333;
}

.govuk-grid-column-two-thirds {
    padding: 0px !important;
}

.govuk-width-container {
    max-width: 916px;
}

a,
.govuk-skip-link {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
}

.govuk-link {
    color: var(--Black);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

    .govuk-link:link {
        color: var(--Black);
        font-size: 16px;
    }

.govuk-skip-link:active,
.govuk-skip-link:focus {
    display: inline-block;
    clip: auto !important;
    height: auto !important;
    margin: 0 !important;
    overflow: visible !important;
    position: static !important;
    white-space: normal !important;
    width: auto !important;
    text-decoration: underline;
    box-shadow: none;
}

.govuk-button--tertiary,
.govuk-button--tertiary:link,
.govuk-button--tertiary:visited {
    display: inline-flex;
    padding: 8px 12px 7px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-default);
    border: var(--border-thick);
    background: var(--White);
    box-shadow: 0 2px 0 0 var(--Pink-1);
    color: var(--Pink-1);
    text-align: center;
    font-family: var(--font-button-family);
    font-size: var(--font-button-size);
    font-style: normal;
    font-weight: var(--font-button-weight);
    line-height: var(--font-button-line-height);
    cursor: pointer;
    min-width: 100px;
    height: 50px;
    border-radius: 4px;
}


    .govuk-button--tertiary:hover,
    .govuk-button--tertiary:focus {
        color: var(--Pink-1) !important;
        background: var(--White) !important;
        border: 2px solid !important;
        border-color: var(--Pink-1) !important;
        box-shadow: 0px 0px 0px 3px var(--Yellow) !important;
    }

    .govuk-button--tertiary:link {
        text-decoration: none;
    }

.govuk-button-group {
    display: flex;
    gap: 20px;
}

.govuk-button,
.govuk-button:link,
.govuk-button:visited {
    display: inline-flex;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-default);
    border: var(--border-thick);
    background: var(--Pink-1);
    box-shadow: 0 2px 0 0 var(--Black);
    color: var(--White);
    text-align: center;
    font-family: var(--font-button-family);
    font-size: var(--font-button-size);
    font-style: normal;
    font-weight: var(--font-button-weight);
    line-height: var(--font-button-line-height);
    cursor: pointer;
    min-width: 100px;
    height: 50px;
    border-radius: 4px;
    margin-right: 0px !important;
}

    .govuk-button:hover,
    .govuk-button:focus {
        color: var(--Pink-1) !important;
        background: var(--White) !important;
        border: 2px solid !important;
        border-color: var(--Pink-1) !important;
        box-shadow: 0px 0px 0px 3px var(--Yellow) !important;
    }

    .govuk-button:active {
        color: var(--White);
        background: var(--Black);
    }

.govuk-button--secondary,
.govuk-button--secondary:link,
.govuk-button--secondary:visited {
    background: var(--Black);
    color: var(--White);
    border-color: var(--Black);
}

    .govuk-button--secondary:hover,
    .govuk-button--secondary:focus {
        background: var(--White) !important;
        color: var(--Black) !important;
        box-shadow: 0 0 0 3px var(--Yellow) !important;
        outline: none !important;
        border-color: var(--Black) !important;
    }

.btn-tertiary,
.btn-tertiary:link,
.btn-tertiary:visited {
    background: var(--White);
    color: var(--Pink-1);
    border-color: var(--Pink-1);
    box-shadow: 0 2px 0 0 var(--Pink-1);
}

    .btn-tertiary:hover,
    .btn-tertiary:focus {
        color: var(--Pink-1) !important;
        background: var(--White) !important;
        border: 2px solid !important;
        border-color: var(--Pink-1) !important;
        box-shadow: 0px 0px 0px 3px var(--Yellow) !important;
    }

.btn-error,
.btn-error:link,
.btn-error:visited {
    background: var(--Red);
    color: var(--White);
    border-color: var(--Red);
    box-shadow: 0 2px 0 0 var(--Red);
}

    .btn-error:hover,
    .btn-error:focus {
        color: var(--White) !important;
        background: var(--Red) !important;
        border: 2px solid !important;
        border-color: var(--Red) !important;
        box-shadow: 0px 0px 0px 3px var(--Yellow) !important;
    }

.btn-disabled,
.btn-disabled:link,
.btn-disabled:visited {
    background: var(--Disabled);
    color: var(--White);
    border: var(--Disabled);
    pointer-events: none;
    opacity: 0.7;
    cursor: not-allowed;
}

header .govuk-button {
    margin-bottom: 0px;
}

.header-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
}

nav {
    background: var(--Pink-1);
}

    nav summary {
        padding: 15px 100px 15px 15px;
    }

    nav .nav-dropdown summary, nav details a {
        text-decoration: none !important;
    }

    nav details {
        flex-direction: column;
        justify-content: center;
    }

    nav .navbar-nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        nav .navbar-nav > li {
            display: flex;
            height: 60px;
            justify-content: flex-end;
            align-items: center;
            flex-shrink: 0;
        }

            nav .navbar-nav > li > a, nav .nav-dropdown summary {
                color: var(--White) !important;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                vertical-align: middle;
                text-decoration: none;
            }

    nav .nav > li > a:focus,
    nav .nav > li > a:hover,
    nav .nav > li summary:focus,
    nav .nav > li summary:hover {
        text-decoration: none !important;
        color: var(--Black) !important;
        background-color: var(--Pink-11) !important;
        box-shadow: 0 0 0 3px var(--Yellow) !important;
    }

    nav .sub-menu > li:focus-within,
    nav summary:hover {
        background-color: var(--Pink-11) !important;
        box-shadow: 0 0 0 3px var(--Yellow) !important;
    }

@media (min-width: 768px) {
    .navbar-nav > li > a,
    nav .nav > li summary {
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

.sub-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0px;
    background-color: var(--Pink-11);
    gap: 4px;
}

    .sub-menu li {
        display: flex;
        height: 60px;
        align-items: center;
        padding: 10px;
        background-color: var(--Pink-11);
        box-shadow: 0px 0.5px var(--Border-shadow);
    }

    .sub-menu > li > a {
        font-weight: 700;
    }

        .sub-menu > li > a:focus, .sub-menu > li > a:hover {
            text-decoration: none !important;
            color: var(--Black);
            box-shadow: none;
            background-color: var(--Pink-11) !important;
        }

.header-images .govuk-link:focus,
.header-images .govuk-link:hover {
    background-color: transparent;
    box-shadow: 0 0 0 3px var(--Yellow) !important;
}

.jdr-logo-container {
    height: auto;
}

.jdr-logo {
    margin: 30px;
    max-width: 140px;
}

.nhs-logo {
    margin: 30px;
    max-height: 40px;
}

/*.nhs-logo media */
/*>600px and <1000px wide: height 35px; margin: 20px;*/
/*<600px wide: height 30px; margin: 15px;*/

.center {
    float: none;
    justify-self: center;
}

.jdr-background-black {
    background-color: var( --Black)
}

.row {
    display: flex;
}

@media(max-width:957px) {
    /* for some reason default row margin was causeing 
        issues around tablet screen width range */
    footer .row {
        margin-right: 0;
    }
}

@media(max-width:562px) {

    .footerImageContainerCol {
        flex-direction: column;
    }

    .footerImageContainerInnerCol {
        margin-top: 25px;
    }

    .footerImageContainer {
        margin-inline: auto;
    }
}

.w-100 {
    width: 100%
}

.banner {
    background-color: var(--Pink-1);
    color: var(--White);
    text-align: center;
    display: flex;
    height: 201px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner-text-container {
    display: flex;
    height: 201px;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 790px;
}

    .banner-text-container > p {
        color: var(--White);
        text-align: center;
        font-family: "GothamBold";
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.48px;
        margin: 0px;
    }

.banner > h1,
.banner > h2,
.banner > h3,
.banner > h4 {
    color: var(--White) !important;
}

.button-wide {
    width: fit-content;
    flex-direction: row;
}

.button-width-fit-content {
    width: fit-content;
}

.video-section iframe {
    height: 100%;
    width: 100%;
}

.video-wrapper {
    height: 372px;
    flex: 1 0 0;
    aspect-ratio: 329/186;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media(max-width:757px) {
    .video-wrapper {
        height: unset;
    }
}

.transcript-wrapper {
    text-align: center;
}

.transcript {
    text-align: left;
}

.no-float {
    float: none;
}

.d-none {
    display: none !important;
}

.cookie-btn {
    width: fit-content;
}

.govuk-cookie-banner {
    background-color: var(--Pink-11)
}

.govuk-cookie-banner__heading {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.72px;
}

.govuk-cookie-banner__content {
}

    .govuk-cookie-banner__content > .govuk-body {
        color: #000;
        font-family: Lato;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }

.jdr-resources-container {
    display: flex;
    height: 557px;
    justify-self: center;
    padding-block: 74px;
}



.jdr-resources {
    width: 453px;
}

.jdr-resources-image > img {
    height: 374px;
    margin-top: auto;
    margin-bottom: auto;
}

.jdr-resources-image {
    align-content: center;
    min-height: 260px;
}

.jdr-resources-content {
    align-self: center;
    background-color: var( --Pink-11);
}

.jdr-resources-content-inner {
    padding: 40px;
    height: 336px;
    display: flex;
    flex-direction: column;
    padding-block: 20px;
    justify-content: space-between;
}


@media(max-width: 957px) {

    .jdr-resources-container {
        display: block;
        height: unset;
    }

    .jdr-resources-image > img {
        height: unset;
        width: 100%;
    }
}

@media(max-width: 40.0625em) {

    .jdr-resources-container {
        padding-block: 0;
        height: unset;
    }

    .jdr-resources-content-inner {
        height: unset;
        min-height: 336px;
        background: var(--Black);
        color: var(--White);
    }

        .jdr-resources-content-inner > h2 {
            color: var(--White) !important;
        }

    .jdr-resources-content-inner-text {
        padding-block: 25px;
    }

    .jdr-resources-image > img {
        height: unset;
        width: 100%;
    }

    .jdr-resources {
        width: 100%;
    }
}

.on-this-page {
    gap: 5px;
    row-gap: 0px;
    margin-left: 0px;
    padding-bottom: 20px;
}

    .on-this-page > a {
        margin-right: 0px !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        width: fit-content;
    }

@media(max-width:40.0625em) {
    .on-this-page > a {
        width: 100%;
    }
}

.quick-links {
    margin-bottom: 40px;
}
