@model BPOR.Rms.Models.Study.StudiesViewModel

<div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-margin-top-0">
        <role include="Researcher">
            My studies
        </role>
        <role exclude="Researcher">
            All studies
        </role>
    </h1>
</div>

<div class="govuk-grid-column-one-half right-align-buttons-desktop">
    <div class="govuk-button-group govuk-!-margin-bottom-0">
        @if (Model.Studies.TotalCount > 0)
        {
            <a role-include="Researcher" asp-action="TermsAndConditions" asp-controller="Researcher" id="applyForStudyBtn" class="govuk-button govuk-button" data_module="govuk-button">Apply to add a study</a>
        }
        <a role-exclude="Researcher" asp-action="Consent" asp-controller="Volunteer" id="addVolunteerBtn" class="govuk-button govuk-button--secondary" data_module="govuk-button--secondary">Add volunteer</a>
        <a role-exclude="Researcher" asp-action="Create" asp-controller="Study" id="addStudyBtn" class="govuk-button govuk-button--secondary" data_module="govuk-button--secondary">Add study</a>
        <a role-exclude="Researcher" asp-action="Index" asp-controller="Filter" id="findVolunteerBtn" class="govuk-button" data_module="govuk-button">Find volunteers</a>
        <a role-exclude="Researcher" asp-action="Index" asp-controller="NonStudyCampaigns" id="nonStudyEmailsBtn" class="govuk-button" data_module="govuk-button">View Non Study Emails</a>
    </div>
</div>
