@model BPOR.Rms.Models.Study.StudiesViewModel

<div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-margin-top-0">
        @(Model.IsResearcher ? "My Studies" : "All Studies")
    </h1>
</div>

<div class="govuk-grid-column-one-half right-align-buttons-desktop">
    <div class="govuk-button-group govuk-!-margin-bottom-0">
        @if (Model.IsResearcher)
        {
            @Html.ActionLink(" Apply to add a study", "TermsAndConditions", "Researcher", null, new { @id = "addStudyBtn", @class = "govuk-button govuk-button--secondary", data_module = "govuk-button--secondary" })
        }
        else
        {
            @Html.ActionLink(" Add study", "Create", "Study", null, new { @id = "addStudyBtn", @class = "govuk-button govuk-button--secondary", data_module = "govuk-button--secondary" })
        }
       
        @Html.ActionLink(" Find volunteers", "Index", "Filter", null, new { @id = "findVolunteerBtn",  @class = "govuk-button", data_module = "govuk-button" })
    </div>
</div>
