@model BPOR.Rms.Models.Study.StudiesViewModel

<style>
.govuk-input__suffix{
    border-radius: 0px 4.2px 4.2px 0px;
    background: #193E72;
    box-shadow: 0px -0.84px 0px 0px #003078 inset;
    }
    .govuk-input {
    border-radius: 4.2px 0px 0px 4.2px;
    }
</style>

<form class="govuk-form-group" asp-action="Index" asp-controller="Study">
    <label class="govuk-label govuk-label" for="searchBar">
        Search study name, study ID or CPMS ID
    </label>
    <div class="govuk-input__wrapper">
        <input class="govuk-input govuk-!-width-one-third" id="searchBar" name="searchTerm" type="text" value="@Model.SearchTerm">
        <div class="govuk-input__suffix" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </div>
    </div>
</form>
