<footer class="site-footer ds-6 no-print">
    <h2 class="visuallyhidden">Footer</h2>
    <div class="footer-container">
        <div class="row align-items-center">
            <div class="col d-flex align-content-md-stretch flex-column flex-md-row">
                <div class="footer-col col ml-1 row">
                    <div class="nav-item nav-vertical footerLinks">
                        <div class="nav-vertical__item-footer footer-heading">
                            <h3 class="nav-link active nav-vertical__content-footer footerheading">
                                Services
                            </h3>
                            <button aria-label="Services accordion" aria-expanded="false" aria-controls="Services-link-list" class="btn btn--clean nav-vertical__expand-footer btn-footer flipped">
                                <i class="trigger fa fa-chevron-down"> </i>
                            </button>
                        </div>
                        <ul class="footer-list nav-vertical nav-vertical--nested-footer" id="Services-link-list" style="display: block;">
                            <li aria-label="Find a study" class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a class="active footer-btn footerlinks" id="firstFooterElement" href="https://bepartofresearch.nihr.ac.uk/find-a-study">Find a study</a>
                                </p>
                            </li>
                            <li class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a aria-label="Add my study.  How our service supports researchers"
                                       class="active footer-btn footerlinks"
                                       href="https://bepartofresearch.nihr.ac.uk/researchers-and-health-and-care-professionals/Information-for-researchers/">
                                        Add my study
                                    </a>
                                </p>
                            </li>
                            <li aria-label="A-Z conditions" class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a class="active footer-btn footerlinks" href="https://bepartofresearch.nihr.ac.uk/results/a-z-conditions">A-Z conditions</a>
                                </p>
                            </li>
                            <li aria-label="Glossary" class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a class="active footer-btn footerlinks" href="https://bepartofresearch.nihr.ac.uk/what-is-health-and-care-research/glossary/">Glossary</a>
                                </p>
                            </li>
                            <li aria-label="F-A-Qs" class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a class="active footer-btn footerlinks" href="https://bepartofresearch.nihr.ac.uk/what-is-health-and-care-research/frequently-asked-questions/">FAQs</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col col ml-1 row">
                    <div class="nav-item nav-vertical footerLinks">
                        <div class="nav-vertical__item-footer footer-heading">
                            <h3 class="nav-link active nav-vertical__content-footer footerheading">
                                Learn
                            </h3>
                            <button aria-label="Learn accordion" aria-expanded="false" aria-controls="Learn-links-list" class="btn btn--clean nav-vertical__expand-footer btn-footer flipped">
                                <i class="trigger fa fa-chevron-down"></i>
                            </button>
                        </div>
                        <ul class="nav-vertical nav-vertical--nested-footer footer-list" id="Learn-links-list" style="display: block;">
                            <li class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a class="active footer-btn footerlinks" href="https://bepartofresearch.nihr.ac.uk/what-is-health-and-care-research/">What is health and care research?</a>
                                </p>
                            </li>
                            <li class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a class="active footer-btn footerlinks" href="https://bepartofresearch.nihr.ac.uk/take-part-in-research/why-taking-part-matters/">Why taking part matters</a>
                                </p>
                            </li>
                            <li class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a class="active footer-btn footerlinks" href="https://bepartofresearch.nihr.ac.uk/take-part-in-research/what-to-expect-on-a-study/">What to expect on a study</a>
                                </p>
                            </li>
                            <li aria-label="Consenting to a study" class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a class="active footer-btn footerlinks" href="https://bepartofresearch.nihr.ac.uk/take-part-in-research/consenting-to-a-study/">Consenting to a study</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col col ml-1 row">
                    <div class="nav-item nav-vertical footerLinks">
                        <div class="nav-vertical__item-footer footer-heading">
                            <h3 class="nav-link active nav-vertical__content-footer footerheading">
                                Site policies
                            </h3>
                            <button aria-label="Site Policies accordion" aria-expanded="false" aria-controls="Site-Policies-link-list" class="btn btn--clean nav-vertical__expand-footer btn-footer flipped">
                                <i class="trigger fa fa-chevron-down"> </i>
                            </button>
                        </div>
                        <ul class="nav-vertical nav-vertical--nested-footer footer-list" id="Site-Policies-link-list" style="display: block;">
                            <li class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a aria-label="All site policies" class="active footer-btn footerlinks" href="https://bepartofresearch.nihr.ac.uk/site-policies">All site policies</a>
                                </p>
                            </li>
                            <li class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a aria-label="Accessibility statement" class="active footer-btn footerlinks" href="https://bepartofresearch.nihr.ac.uk/site-policies/accessibility">Accessibility</a>
                                </p>
                            </li>
                            <li class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a aria-label="Complaints procedure" class="active footer-btn footerlinks" id="footerlinks" href="https://bepartofresearch.nihr.ac.uk/site-policies/complaints">Complaints</a>
                                </p>
                            </li>
                            <li aria-label="Cookie Policy" class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a class="active footer-btn footerlinks" href="https://bepartofresearch.nihr.ac.uk/site-policies/cookie-policy">Cookie policy</a>
                                </p>
                            </li>
                            <li aria-label="Freedom of information" class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a class="active footer-btn footerlinks" href="https://bepartofresearch.nihr.ac.uk/site-policies/freedom-of-information">Freedom of information</a>
                                </p>
                            </li>
                            <li aria-label="Privacy policy" class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a class="active footer-btn footerlinks" href="https://bepartofresearch.nihr.ac.uk/site-policies/privacy-policy">Privacy policy</a>
                                </p>
                            </li>
                            <li aria-label="Terms and conditions" class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a class="active footer-btn footerlinks" href="https://bepartofresearch.nihr.ac.uk/site-policies/terms-and-conditions">Terms and conditions</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col col ml-1 row">
                    <div class="nav-item nav-vertical footerLinks">
                        <div class="nav-vertical__item-footer footer-heading">
                            <h3 class="nav-link active nav-vertical__content-footer footerheading">
                                Stay connected
                            </h3>
                            <button aria-label="Stay connected accordion" aria-expanded="false" aria-controls="Stay-Connected-links-list" class="btn btn--clean nav-vertical__expand-footer btn-footer flipped">
                                <i class="trigger fa fa-chevron-down"> </i>
                            </button>
                        </div>
                        <ul class="nav-vertical nav-vertical--nested-footer footer-list" id="Stay-Connected-links-list" style="display: block;">
                            <li aria-label="News and features" class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a class="active footer-btn footerlinks" href="https://bepartofresearch.nihr.ac.uk/News-and-features">News and features</a>
                                </p>
                            </li>
                            <li aria-label="Contact us" class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a class="active footer-btn footerlinks" href="https://bepartofresearch.nihr.ac.uk/get-in-touch">Get in touch</a>
                                </p>
                            </li>
                            <li class="nav-item nav-vertical__item-footer flex-wrap cursor-pointer">
                                <p class="FooterLinkHeader h4">
                                    <a aria-label="Sign up for the Be Part of Research newsletter"
                                       class="active footer-btn footerlinks"
                                       href="https://nihr.us14.list-manage.com/subscribe?u=299dc02111e8a68172029095f&amp;id=3b030a1027">
                                        Newsletter
                                    </a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="footerimage">
                    <a href="https://bepartofresearch.nihr.ac.uk/" class="accessability-image icon">
                        <img src="/join/resources/img/layout/BPoR_logo.svg" alt="Be Part of Research logo" class="footer-logo" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<partial name="_FooterLogos" />