@using BPOR.Rms.Models.Email
@using BPOR.Domain.Enums;

@{
    ViewData["Title"] = $"View email campaigns not associated with a study";
    ViewData.AddBreadcrumb("All studies", "/Study/Index");
    ViewData.AddBreadcrumb("View Non Study Emails", "/NonStudyCampaigns");
    ViewData["CampaignTable.HideCampaignType"] = true;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-4">
            Emails sent
        </h2>
        <partial name="Partials/_CampaignTable" />
        <pagination />
    </div>
</div>