@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var signedOut = !(User?.Identity?.IsAuthenticated ?? false) && Context.Request.Query.ContainsKey("signed-out");
}

@if (signedOut)
{
    <div class="govuk-grid-row signed-out">
        <div class="govuk-grid-column-one-half">
            <div class="govuk-notification-banner govuk-notification-banner--success signed-out govuk-!-margin-bottom-0" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        You are now signed out of the Be Part of Research Registry Management System
                    </p>
                </div>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div with-content="researcher-welcome-page"></div>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-3">
    <div class="govuk-grid-column-one-half">
        <a href="?start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-one-half">
        <p class="govuk-body">
        If you already have an account, you can <a href="?sign-in" role="button" draggable="false" class="govuk-link">sign in</a>.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half govuk-inset-text">
        <p class="govuk-body-l">
        This page is for researchers and sponsors.
        </p>

        <p class="govuk-body">
            If you are a member of the public, you can <a class="govuk-link" href="https://volunteer.bepartofresearch.nihr.ac.uk/Participants/introduction">create or sign in to your Be Part of Research volunteer account</a>.
        </p>
    </div>
</div>