<div class="container no-print" id="footerLogos">
    <div class="row g-3">
        <div class="regional-logos nihr-image" id="NIHRFooter">
            <a href="https://www.nihr.ac.uk/" aria-label="National Institute for Health and Care Research" class="accessability-image">
                <img src="/resources/img/layout/NIHR-Logo.svg" id="NihrLogo" class="regional-logos img-responsive" alt="National Institute for Health and Care Research" />
            </a>
        </div>

        <div class="regional-logos NI-logo">
            <a href="http://www.research.hscni.net/" target="_blank" aria-label="Public Health Agency Northern Ireland" class="accessability-image NI-logo-link">
                <img src="/resources/img/layout/HSCLogo.svg" class="regional-logos img-responsive NI-logo-img" alt="Public Health Agency Northern Ireland" />
            </a>
        </div>

        <div class="regional-logos Scot-logo">
            <a href="https://www.nhsresearchscotland.org.uk/" target="_blank" aria-label="NHS Scotland" class="accessability-image scot-logo-img">
                <img src="/resources/img/layout/nhs-research-scotland-logo.svg" class="regional-logos img-responsive" alt="NHS Scotland" />
            </a>
        </div>

        <div class="regional-logos HCW-logo">
            <a href="https://healthandcareresearchwales.org/" target="_blank" aria-label="Health and Care Research Wales" class="accessability-image">
                <img src="/resources/img/layout/Health-and-Care-Research-Wales-full-colour-logo-CMYK.svg" class="regional-logos img-responsive" alt="Health and Care Research Wales" />
            </a>
        </div>
    </div>
</div>