<div class="container">
    <header class="site-header">
        <div class="site-header__logo row">
            <div class="col-6" id="logoImg">
                <a href="https://bepartofresearch.nihr.ac.uk/" class="accessability-image header-logo">
                    <img src="/resources/img/layout/BPoR_NIHR_colour-RGB.svg" alt="Be Part of Research Logo - Navigates to Homepage" class="BPoRLogo" />
                </a>
            </div>
        </div>
        <div class="site-header__logo" id="NHSlogo">
            <a href="https://nhs.uk/" target="_blank" class="accessability-image elink">
                <img id="NhsHeaderLogo" src="/resources/img/layout/NHS_logo.svg" alt="NHS Website - Takes user to NHS (Opens new tab)" />
            </a>
        </div>
    </header>
</div>