@model BPOR.Rms.Models.Study.StudyFormViewModel

<h1 class="govuk-heading-xl">
    Email campaign
</h1>

<form-group for="InformationUrl" class="govuk-form-group">
    <input asp-for="InformationUrl" class=" govuk-input" id="InformationUrl" aria-describedby="information-url-hint" value="@(Model.InformationUrl)"></input>
</form-group>