@{
    Layout = "_Layout";
    VsiEditContext context = ViewBag.Context;
    ViewData["Title"] = context.SectionName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">@context.SectionName</h1>
        
        
        @RenderBody()   
        
        @if (!string.IsNullOrWhiteSpace(context.SkipUrl))
        {
            <div class="govuk-!-margin-4">
                <a href="@context.SkipUrl" class="govuk-link">Skip</a>
            </div>
        }
    </div>
</div>
