@using BPOR.Domain.Enums
@using BPOR.Rms.VolunteerInformation.Utility
@model CreateCriterionModel

@{
    VsiEditContext context = ViewBag.Context;
    context.SectionName = Resources.Section1Name;
    Layout = "_VsiEditLayoutForm";
}

<h1>Add @Model.Type.GetNoun() criteria</h1>

<p>For <b>@Model.GroupName</b>, enter one criterion, click "Submit", and then add more.</p>

<div class="govuk-!-margin-bottom-4">
    <input class="govuk-input" asp-for="Criterion" type="text"></input>
</div>
