@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel

@{
    ViewData["Title"] = "Find Volunteers";

    if (Model.VolunteerCount is not null)
    {
        var volunteers = Model.VolunteerCount == 1 ? "volunteer" : "volunteers";

        ViewData["Title"] = $"{ViewData["Title"] as string} - {Model.VolunteerCount:n0} {volunteers} found";
    }

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData.AddBreadcrumb("All Studies", "/Study/Index");

    if (Model.StudyId is not null)
    {
        ViewData.AddBreadcrumb("Study Page", $"/Study/Details/" + Model.StudyId);
    }

    ViewData.AddBreadcrumb("Find Volunteers", "");
}

<style>
    .volunteer-count-panel {
        position: -webkit-sticky;
        position: sticky;
        top: 2em;
    }
</style>

@if (Model.ShowResults)
{
    <div id="volunteer-results-list" class="govuk-grid-column-full testing-only">
        <span class="govuk-caption-m">For testing purposes only</span>
        <h2 class="govuk-heading-m">Volunteer Results</h2>
        <partial name="Partials/_FilteredVolunteerList" for="VolunteerResults" />
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            Select the criteria you want your volunteers to match
        </h1>
    </div>
</div>

@using (Html.BeginForm(FormMethod.Get))
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <input type="hidden" asp-for="StudyId" value="@Model.StudyId" />
            <partial name="Partials/_NotificationBanner" />

            <partial name="Partials/_ErrorSummary" />

            <partial name="Partials/_StudySelection" />
            <partial name="Partials/_VolunteerInclusionExclusionCriteria" />
            <partial name="Partials/_AreasOfResearch" />
            <partial name="Partials/_RegistrationDate" />
            <partial name="Partials/_Location" />
            <partial name="Partials/_Demographics" />

        </div>
        <div class="govuk-grid-column-one-third volunteer-count-panel">
            <partial name="Partials/_FilterButtonsAndCount" />
        </div>
    </div>
}