@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel
@using BPOR.Rms.Views.ViewComponents
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .volunter-count-panel {
        position: -webkit-sticky;
        position: sticky;
        top: 2em;
    }
</style>

<div class="govuk-grid-row">

    @if (Model.StudyId != null)
    {
        @await Component.InvokeAsync("Breadcrumbs", new List<BreadcrumbItem>
    {
    new("All Studies", "/Study/Index"),
    new("Study Page", $"/Study/Details/" + Model.StudyId),
    new("Find Volunteers", "")
    })
    }
    else
    {
        @await Component.InvokeAsync("Breadcrumbs", new List<BreadcrumbItem>
    {
    new("All Studies", "/Study/Index"),
    new("Find Volunteers", "")
    })
    }


</div>


@if (Model.ShowResults)
{
    <div id="volunteer-results-list" class="govuk-grid-column-full testing-only">
        <span class="govuk-caption-m">For testing purposes only</span>
        <h2 class="govuk-heading-m">Volunteer Results</h2>
        @await Html.PartialAsync("Partials/_FilteredVolunteerList", Model.VolunteerResults)
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            Select the criteria you want your volunteers to match
        </h1>
    </div>
</div>

@using (Html.BeginForm(FormMethod.Get))
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <input type="hidden" asp-for="StudyId" value="@Model.StudyId" />

            @await Html.PartialAsync("Partials/_NotificationBanner", Model.Notification)

            @await Html.PartialAsync("Partials/_ErrorSummary", Model)

            <h2 class="govuk-heading-l">
                Research
            </h2>

            @await Html.PartialAsync("Partials/_StudySelection", Model)
            @await Html.PartialAsync("Partials/_VolunteerInclusionExclusionCriteria", Model)
            @await Html.PartialAsync("Partials/_AreasOfResearch", Model)
            @await Html.PartialAsync("Partials/_RegistrationDate", Model)
            @await Html.PartialAsync("Partials/_Location", Model)
            @await Html.PartialAsync("Partials/_Demographics", Model)

        </div>
        <div class="govuk-grid-column-one-third volunter-count-panel">
            @await Html.PartialAsync("Partials/_FilterButtonsAndCount", Model)
        </div>
    </div>
}