@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel
@using BPOR.Rms.Views.ViewComponents
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-grid-row">

    @if (Model.StudyId != null)
    {
        @await Component.InvokeAsync("Breadcrumbs", new List<BreadcrumbItem>
        {
            new("All Studies", "/Study/Index"),
            new("Study Page", $"/Study/Details/" + Model.StudyId),
            new("Find Volunteers", "")
        })
    }
    else
    {
        @await Component.InvokeAsync("Breadcrumbs", new List<BreadcrumbItem>
        {
            new("All Studies", "/Study/Index"),
            new("Find Volunteers", "")
        })
    }

 
</div>

@using (Html.BeginForm())
{
    <input type="hidden" asp-for="StudyId" value="@Model.StudyId" />
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Select the criteria you want your volunteers to match
        </h1>

        @await Html.PartialAsync("Partials/_NotificationBanner", Model.Notification)

        @await Html.PartialAsync("Partials/_ErrorSummary", Model)

        <h2 class="govuk-heading-l">
            Research
        </h2>

        @await Html.PartialAsync("Partials/_StudySelection", Model)
        @await Html.PartialAsync("Partials/_VolunteerInclusionExclusionCriteria", Model)
        @await Html.PartialAsync("Partials/_AreasOfResearch", Model)
        @await Html.PartialAsync("Partials/_RegistrationDate", Model)
        @await Html.PartialAsync("Partials/_Location", Model)
        @await Html.PartialAsync("Partials/_Demographics", Model)

    </div>

    @await Html.PartialAsync("Partials/_FilterButtonsAndCount", Model)
}