@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel
@using BPOR.Rms.Views.ViewComponents
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("Breadcrumbs", new List<BreadcrumbItem>
    {
        new("All Studies", "/Study/Index"),
        new("Study Page", $"/Study/Details/1"),
        new("Edit Study", "/Study/Edit")
    })
</div>

<form asp-action="FilterVolunteers">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Select the criteria you want your volunteers to match
        </h1>

        @await Html.PartialAsync("../Shared/_ErrorSummary", Model)

        <h2 class="govuk-heading-l">
            Research
        </h2>

        @await Html.PartialAsync("Partials/_StudySelection", Model)
        @await Html.PartialAsync("Partials/_VolunteerInclusionExclusionCriteria", Model)
        @await Html.PartialAsync("Partials/_AreasOfResearch")
        @await Html.PartialAsync("Partials/_RegistrationDate", Model)
        @await Html.PartialAsync("Partials/_Location", Model)
        @await Html.PartialAsync("Partials/_Demographics", Model)

    </div>

    <div class="sticky-container">
        <div class="filter-count-container">
            <div>
                <h2 class="govuk-heading-l">
                    Volunteers matching criteria:
                </h2>

                <h2 class="govuk-heading-l" id="volunteerCount" aria-label="Volunteer count with current filters selected">@Model.VolunteerCount</h2>
            </div>

            <div class="filter-buttons-container">
                <input type="submit" value="Search volunteers" class="govuk-button" />
                @Html.ActionLink("Clear filters", "Index", "Filter", new { id = 1 }, new { @class = "govuk-button  govuk-button--secondary", data_module = "govuk-button" })

                <div class="divide-container"></div>

                @{
                    bool disabled = Model.VolunteerCount == "0" || Model.VolunteerCount == "-";
                }

                <div class="filer-setup-campaign-btn">
                    <button id="btnSetupEmailCampaign" role="button" draggable="false" class="govuk-button-submit" data-module="govuk-button" disabled="@disabled" asp-controller="Email" asp-action="SetupCampaign">
                        Set up an email campaign
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>




