@model BPOR.Rms.Models.Filter.VolunteerFilterViewModel
@using BPOR.Rms.Views.ViewComponents
@{
    ViewData["Title"] = "Find Volunteers";

    if (Model.VolunteerCount is not null)
    {
        if (Model.VolunteerCount == 1)
        {
            ViewData["Title"] = (ViewData["Title"] as string) + $" - {Model.VolunteerCount} volunteer matches the filter options";
        }
        else
        {
            ViewData["Title"] = (ViewData["Title"] as string) + $" - {Model.VolunteerCount} volunteers match the filter options";
        }       
    }

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData.AddBreadcrumb("All Studies", "/Study/Index");

    if (Model.StudyId is not null)
    {
        ViewData.AddBreadcrumb("Study Page", $"/Study/Details/" + Model.StudyId);
    }

    ViewData.AddBreadcrumb("Find Volunteers", "");
}

<style>
    .volunteer-count-panel {
        position: -webkit-sticky;
        position: sticky;
        top: 2em;
    }
</style>

@if (Model.ShowResults)
{
    <div id="volunteer-results-list" class="govuk-grid-column-full testing-only">
        <span class="govuk-caption-m">For testing purposes only</span>
        <h2 class="govuk-heading-m">Volunteer Results</h2>
        @await Html.PartialAsync("Partials/_FilteredVolunteerList", Model.VolunteerResults)
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            Select the criteria you want your volunteers to match
        </h1>
    </div>
</div>

@using (Html.BeginForm(FormMethod.Get))
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <input type="hidden" asp-for="StudyId" value="@Model.StudyId" />

            @await Html.PartialAsync("Partials/_NotificationBanner")

            @await Html.PartialAsync("Partials/_ErrorSummary", Model)

            @await Html.PartialAsync("Partials/_StudySelection", Model)
            @await Html.PartialAsync("Partials/_VolunteerInclusionExclusionCriteria", Model)
            @await Html.PartialAsync("Partials/_AreasOfResearch", Model)
            @await Html.PartialAsync("Partials/_RegistrationDate", Model)
            @await Html.PartialAsync("Partials/_Location", Model)
            @await Html.PartialAsync("Partials/_Demographics", Model)

        </div>
        <div class="govuk-grid-column-one-third volunteer-count-panel">
            @await Html.PartialAsync("Partials/_FilterButtonsAndCount", Model)
        </div>
    </div>
}