name: Staged Deployment

on:
  workflow_dispatch:

jobs:
  build_dev:
    runs-on: ubuntu-latest
    environment: DEV

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.NIHR_GITHUB_ACTIONS_IAM_ID }}
          aws-secret-access-key: ${{ secrets.NIHR_GITHUB_ACTIONS_IAM_SECRET }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'

      - name: Add GitHub NuGet source
        run: dotnet nuget add source --username USERNAME --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/pa-nihr-crn/index.json"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --no-build --verbosity normal

      - name: Publish
        run: dotnet publish src/StudyApi -c Release -o publish

      - name: Deploy DEV
        run: |
          dotnet tool install -g Amazon.Lambda.Tools
          VERSION=$(dotnet lambda deploy-function \
            --function-name crnccd-lambda-dev-dte-study-api \
            --region ${{ secrets.AWS_REGION }} \
            --package publish \
            --function-role crnccd-iam-dev-dte-role \
            --environment "Variables={ASPNETCORE_ENVIRONMENT=Development,DTE_BUILD_STRING=DEV-${{ github.run_number }}-${{ github.run_id }},AWS_SECRET_MANAGER_SECRET_NAME=crnccd-secret-dev-dte-study-api}" \
            --function-publish true \
            --output json | jq -r .Version)

          aws lambda update-alias \
            --function-name crnccd-lambda-dev-dte-study-api \
            --name main \
            --function-version $VERSION

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: studyapi-publish
          path: publish/


  qa:
    runs-on: ubuntu-latest
    needs: build_dev
    environment: QA

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: studyapi-publish
          path: publish/

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.NIHR_GITHUB_ACTIONS_IAM_ID }}
          aws-secret-access-key: ${{ secrets.NIHR_GITHUB_ACTIONS_IAM_SECRET }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy QA
        run: |
          dotnet tool install -g Amazon.Lambda.Tools
          VERSION=$(dotnet lambda deploy-function \
            --function-name crnccd-lambda-test-dte-study-api \
            --region ${{ secrets.AWS_REGION }} \
            --package publish \
            --function-role crnccd-iam-test-dte-role \
            --environment "Variables={ASPNETCORE_ENVIRONMENT=QA,DTE_BUILD_STRING=QA-${{ github.run_number }}-${{ github.run_id }},AWS_SECRET_MANAGER_SECRET_NAME=crnccd-secret-test-dte-study-api}" \
            --function-publish true \
            --output json | jq -r .Version)

          aws lambda update-alias \
            --function-name crnccd-lambda-test-dte-study-api \
            --name main \
            --function-version $VERSION


  uat:
    runs-on: ubuntu-latest
    needs: qa
    environment: UAT

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: studyapi-publish
          path: publish/

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.CRNCC_STAGING_IAM_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.CRNCC_STAGING_IAM_ACCESS_KEY_SECRET }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy UAT
        run: |
          dotnet tool install -g Amazon.Lambda.Tools
          VERSION=$(dotnet lambda deploy-function \
            --function-name crnccs-lambda-uat-dte-study-api \
            --region ${{ secrets.AWS_REGION }} \
            --package publish \
            --function-role crnccs-iam-uat-dte-role \
            --environment "Variables={ASPNETCORE_ENVIRONMENT=UAT,DTE_BUILD_STRING=UAT-${{ github.run_number }}-${{ github.run_id }},AWS_SECRET_MANAGER_SECRET_NAME=crnccs-secret-uat-dte-study-api}" \
            --function-publish true \
            --output json | jq -r .Version)

          aws lambda update-alias \
            --function-name crnccs-lambda-uat-dte-study-api \
            --name main \
            --function-version $VERSION


  oat:
    runs-on: ubuntu-latest
    needs: uat
    environment: OAT

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: studyapi-publish
          path: publish/

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.CRNCC_PROD_IAM_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.CRNCC_PROD_IAM_ACCESS_KEY_SECRET }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy OAT
        run: |
          dotnet tool install -g Amazon.Lambda.Tools
          VERSION=$(dotnet lambda deploy-function \
            --function-name crnccp-lambda-oat-dte-study-api \
            --region ${{ secrets.AWS_REGION }} \
            --package publish \
            --function-role crnccp-iam-oat-dte-role \
            --environment "Variables={ASPNETCORE_ENVIRONMENT=OAT,DTE_BUILD_STRING=OAT-${{ github.run_number }}-${{ github.run_id }},AWS_SECRET_MANAGER_SECRET_NAME=crnccp-secret-oat-dte-study-api}" \
            --function-publish true \
            --output json | jq -r .Version)

          aws lambda update-alias \
            --function-name crnccp-lambda-oat-dte-study-api \
            --name main \
            --function-version $VERSION


  prod:
    runs-on: ubuntu-latest
    needs: oat
    environment: PROD

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: studyapi-publish
          path: publish/

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.CRNCC_PROD_IAM_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.CRNCC_PROD_IAM_ACCESS_KEY_SECRET }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy PROD
        run: |
          dotnet tool install -g Amazon.Lambda.Tools
          VERSION=$(dotnet lambda deploy-function \
            --function-name crnccp-lambda-prod-dte-study-api \
            --region ${{ secrets.AWS_REGION }} \
            --package publish \
            --function-role crnccp-iam-prod-dte-role \
            --environment "Variables={ASPNETCORE_ENVIRONMENT=Production,DTE_BUILD_STRING=PROD-${{ github.run_number }}-${{ github.run_id }},AWS_SECRET_MANAGER_SECRET_NAME=crnccp-secret-prod-dte-study-api}" \
            --function-publish true \
            --output json | jq -r .Version)

          aws lambda update-alias \
            --function-name crnccp-lambda-prod-dte-study-api \
            --name main \
            --function-version $VERSION
