name: UAT Build Manual

on:
  workflow_dispatch:

jobs:
  build_test_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.CRNCC_STAGING_IAM_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.CRNCC_STAGING_IAM_ACCESS_KEY_SECRET }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'

      - name: Add NuGet source
        run: dotnet nuget add source --username USERNAME --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/pa-nihr-crn/index.json"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

      - name: Test
        run: dotnet test --no-restore

      - name: Publish for Lambda
        run: dotnet publish src/StudyApi -c Release -r linux-x64 --self-contained false -o out

      - name: Deploy to Lambda
        run: |
          dotnet tool install -g Amazon.Lambda.Tools

          dotnet lambda deploy-function \
            --region ${{ secrets.AWS_REGION }} \
            --function-name crnccs-lambda-uat-dte-study-api \
            --function-role crnccs-iam-uat-dte-role \
            --package "$GITHUB_WORKSPACE/out" \
            --function-publish true \
            --environment-variables "ASPNETCORE_ENVIRONMENT=Staging;DTE_BUILD_STRING=UAT-${{ github.run_number }}-${{ github.run_id }};AWS_SECRET_MANAGER_SECRET_NAME=crnccs-secret-uat-dte-study-api"

      - name: Update alias
        run: |
          VERSION=$(aws lambda list-versions-by-function \
            --function-name crnccs-lambda-uat-dte-study-api \
            --query "Versions[-1]" | jq -r .Version)

          aws lambda update-alias \
            --function-name crnccs-lambda-uat-dte-study-api \
            --name main \
            --function-version $VERSION
