@using BPOR.Rms.Models.Email
@using BPOR.Rms.Views.ViewComponents
@model BPOR.Rms.Models.Email.SetupCampaignViewModel

@{
    ViewData.AddBreadcrumb("All Studies", "/Study/Index");

    if (Model.StudyId is not null)
    {
        ViewData.AddBreadcrumb($"Study", $"/Study/Details/{Model.StudyId}");
        ViewData.AddBreadcrumb("Find volunteers", "/Filter?studyId=" + Model.StudyId);
    }
    else
    {
        ViewData.AddBreadcrumb("Find volunteers", "/Filter");
    }

    ViewData.AddBreadcrumb("Set up email campaign", "/Email/SetupCampaign");
}

<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Set up an email campaign</h1>
    <p class="govuk-hint body-bold">@Html.DisplayFor(x => x.StudyName)</p>
    @await Html.PartialAsync("Partials/_NotificationBanner")
    @await Html.PartialAsync("Partials/_ErrorSummary")

    <form method="post">
        <input type="hidden" asp-for="StudyId" />
        <input type="hidden" asp-for="MaxNumbers" />
        <input type="hidden" asp-for="FilterCriteriaId" />
        @await Html.PartialAsync("Partials/_TemplateSelect")
        @await Html.PartialAsync("Partials/_Preview")
        @await Html.PartialAsync("Partials/_TotalNumbers")
        @await Html.PartialAsync("Partials/_Footer")
    </form>
</div>
