@using BPOR.Rms.Views.ViewComponents
@model BPOR.Rms.Models.Email.SetupCampaignViewModel

<div class="govuk-grid-column-two-thirds">
    @{
        var breadcrumbs = new List<BreadcrumbItem>
        {
            new("All Studies", "/Study/Index"),
        };

        if (Model.StudyId != null)
        {
            breadcrumbs.Add(new($"Study", $"/Study/Detail/{Model.StudyId}"));
        }

        breadcrumbs.Add(new("Find volunteers", "/Filter"));
        breadcrumbs.Add(new("Set up email campaign", "/Email/SetupCampaign"));
    }

    @await Component.InvokeAsync("Breadcrumbs", breadcrumbs)
    <h1 class="govuk-heading-l">Set up an email campaign</h1>
    <p class="contact-text">@Html.DisplayFor(x => x.StudyName)</p>
    @await Html.PartialAsync("Partials/_NotificationBanner", Model.Notification)
    @await Html.PartialAsync("Partials/_ErrorSummary", Model)

    <form asp-action="HandleForms" method="post">
        <input type="hidden" asp-for="StudyId" />
        <input type="hidden" asp-for="MaxNumbers" />
        @await Html.PartialAsync("Partials/_TemplateSelect")
        @await Html.PartialAsync("Partials/_Preview")
        @await Html.PartialAsync("Partials/_TotalNumbers")
        @await Html.PartialAsync("Partials/_Footer")
    </form>
</div>
