
@if(false)
{
<govuk-details caption="Help with formatting">
    <body-text>You can include bullet points and numbered lists in this text.</body-text>
    <table class="govuk-table">
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Numbered lists</th>
            <td class="govuk-table__cell">
                <body-text>Start each item with a number followed by a full-stop and a space. For example:</body-text>
                <body-text>
                    1. First item<br/>
                    2. Second item<br/>
                    3. Third item
                </body-text>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Bullet points</th>
            <td class="govuk-table__cell">
                <body-text>Start each item with a hyphen followed by a space. For example:</body-text>
                <body-text>
                    - First item<br/>
                    - Second item<br/>
                    - Third item
                </body-text>
            </td>
        </tr>
        </tbody>
    </table>
</govuk-details>
}