@* <govuk-details caption="Help with formatting"> *@
@*     <body-text>You can add simple formatting to this text. The formatting will be *@
@*         displayed when the text is shown in the volunteer information page. </body-text> *@
@*     <table class="govuk-table"> *@
@*         <tbody class="govuk-table__body"> *@
@*         <tr class="govuk-table__row"> *@
@*             <th scope="row" class="govuk-table__header">Bold text</th> *@
@*             <td class="govuk-table__cell">**this is bold**</td> *@
@*         </tr> *@
@*         <tr class="govuk-table__row"> *@
@*             <th scope="row" class="govuk-table__header">Italicized text</th> *@
@*             <td class="govuk-table__cell">*this is italicized*</td> *@
@*         </tr> *@
@*         <tr class="govuk-table__row"> *@
@*             <th scope="row" class="govuk-table__header">Numbered lists</th> *@
@*             <td class="govuk-table__cell"> *@
@*                 1. First item<br/> *@
@*                 2. Second item<br/> *@
@*                 3. Third item *@
@*             </td> *@
@*         </tr> *@
@*         <tr class="govuk-table__row"> *@
@*             <th scope="row" class="govuk-table__header">Bullet points</th> *@
@*             <td class="govuk-table__cell"> *@
@*                 - First item<br/> *@
@*                 - Second item<br/> *@
@*                 - Third item *@
@*             </td> *@
@*         </tr> *@
@*         <tr class="govuk-table__row"> *@
@*             <th scope="row" class="govuk-table__header">Blockquote</th> *@
@*             <td class="govuk-table__cell"> *@
@*                 > This is a quote *@
@*             </td> *@
@*         </tr> *@
@*         </tbody> *@
@*     </table> *@
@* </govuk-details> *@